{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/createCampaigns/should create a campaign",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "460ea13e26256080b8a4d807110069c2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"name\":\"test campaign 4\",\"campaignType\":\"sponsoredProducts\",\"dailyBudget\":1,\"state\":\"enabled\",\"targetingType\":\"manual\",\"startDate\":\"20200310\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 114,
            "text": "[{\"code\":\"INVALID_ARGUMENT\",\"description\":\" An entity with that name already exist\",\"campaignId\":263323102387247}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "FT7JHCF19J10D4XZHJDG"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 66,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
