{
  "log": {
    "_recordingName": "SponsoredProductsNegativeTargetingOperation/createNegativeTargetingClauses/should create one or more negative targeting clauses at the campaign level",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "20bb35c04b7e57e2963d9f1731ee0d75",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": [
              {
                "adGroupId": 202694745498469,
                "campaignId": 164069484151709,
                "expression": [
                  {
                    "type": "asinSameAs",
                    "value": "B07663Z46Z"
                  }
                ],
                "expressionType": "manual",
                "state": "paused"
              }
            ]
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 47,
            "text": [
              {
                "code": "SUCCESS",
                "targetId": 160145133562783
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "45RNXMMRQJREMVC5AFSN"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 279,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
