{
  "log": {
    "_recordingName": "SponsoredBrandsKeywordsOperation/createKeywords/should create one or more sb keywords",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "1a96cdd4b060c13b31cae619ae12444e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": [
              {
                "adGroupId": 149522344269714,
                "bid": 1,
                "campaignId": 164069484151709,
                "keywordText": "Pear",
                "matchType": "broad"
              }
            ]
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/keywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 68,
            "text": [
              {
                "code": "INTERNAL_ERROR",
                "description": "Cannot create a keyword."
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "VNZZG78QVZVZ36KW0XV2"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 388,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
