{
  "log": {
    "_recordingName": "SponsoredDisplayProductAdsOperation/updateProductAds/should updates one or more product ads",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "b220b80c633f2f8d66cdf6d342d5e6ba",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": [
              {
                "adId": 264577793668550,
                "state": "paused"
              }
            ]
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/productAds"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": [
              {
                "adId": 264577793668550,
                "code": "SUCCESS"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 104,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
