{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/listNegativeKeywords/should return an array of Negative Keywords polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "2028829a3cc87542cffed70e2cd1a752",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 161,
            "text": "[{\"keywordId\":262433850080632,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"green apple\",\"matchType\":\"negativeExact\",\"state\":\"paused\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "CJ6GJ1427ZTTEYSC6AN3"
            },
            {
              "name": "x-amz-rid",
              "value": "CJ6GJ1427ZTTEYSC6AN3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 131,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
