{
  "log": {
    "_recordingName": "HttpClient/get/should throw InvalidProgramStateError if encountering throttling with invalid body response",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "93a4d1d30631600903f761c4740576aa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "-1"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/throttle"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 155,
            "text": {}
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amz-request-id",
              "value": "RVKAVH4TA0KQASE321BK"
            }
          ],
          "status": 429,
          "statusText": "OK"
        },
        "time": 1129,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
