{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/createNegativeKeywords/should create a negative keyword",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "964c53e8d219bca748c8945cc41fff7a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":164069484151709,\"adGroupId\":149522344269714,\"keywordText\":\"green apple\",\"matchType\":\"negativeExact\",\"state\":\"paused\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"code\":\"SUCCESS\",\"keywordId\":132130523121557}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "ASNQZSTZ8S6NRKBT108S"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 75,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
