{
  "log": {
    "_recordingName": "SponsoredProductsBidRecommendationOperation/getKeywordBidRecommendations/should retrieve bid recommendation data for the specified keyword id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "692192edeb26afeb40fddd82dbc6faf8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/16577721726418/bidRecommendations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 124,
            "text": {
              "adGroupId": 149522344269714,
              "keywordId": 16577721726418,
              "suggestedBid": {
                "rangeEnd": 3.13,
                "rangeStart": 0.99,
                "suggested": 2.51
              }
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "01SM9KV7037E4MGJE7CJ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
