{
  "log": {
    "_recordingName": "SponsoredDisplayAdGroupOperation/updateAdGroups/should update a list of ad groups",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "1b5d481771ce9fedfefd6eac7f7e7bb0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": [
              {
                "adGroupId": 83691965128172,
                "defaultBid": 1,
                "name": "test sd ad group 2020/08/17 21:00",
                "state": "paused"
              }
            ]
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 47,
            "text": [
              {
                "adGroupId": 83691965128172,
                "code": "SUCCESS"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "J319FWBN7XHBSZ8BYP42"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
