{
  "log": {
    "_recordingName": "ProfileOperation/getProfile/should return a profile object polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "43f0b2e120dce04a39c7641757aa9be6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles/2984328618318898"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 214,
            "text": "{\"profileId\":2984328618318898,\"countryCode\":\"US\",\"currencyCode\":\"USD\",\"dailyBudget\":340.0,\"timezone\":\"America/Los_Angeles\",\"accountInfo\":{\"marketplaceStringId\":\"ATVPDKIKX0DER\",\"id\":\"AUZWHWR0590BC\",\"type\":\"seller\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "2N43BD90VRJHB124JP07"
            },
            {
              "name": "x-amz-rid",
              "value": "2N43BD90VRJHB124JP07"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
