{
  "log": {
    "_recordingName": "SponsoredProductsNegativeTargetingOperation/listNegativeTargetingClauses/should retrieve a list of negative targeting clauses",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "56d88afdbbdc6a90960966515d989ea0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargetsv2/sp/negativeTargets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 189,
            "text": {
              "code": "NOT_FOUND",
              "details": "Could not find resource for full path: https://advertising-api-test.amazon.com/v2/sp/negativeTargetsv2/sp/negativeTargets",
              "requestId": "N5VANXNRJGBMWG2R86BD"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "N5VANXNRJGBMWG2R86BD"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 31,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
