{
  "log": {
    "_recordingName": "SponsoredProductsNegativeTargetingOperation/listNegativeTargetingClauses/should retrieve a list of negative targeting clauses",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "5d6441645e7e70f682b419cb714a8f40",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 511,
            "text": [
              {
                "adGroupId": 202694745498469,
                "campaignId": 164069484151709,
                "expression": [
                  {
                    "type": "asinSameAs",
                    "value": "B07663Z46Z"
                  }
                ],
                "expressionType": "manual",
                "resolvedExpression": [
                  {
                    "type": "asinSameAs",
                    "value": "B07663Z46Z"
                  }
                ],
                "state": "archived",
                "targetId": 160326773421036
              },
              {
                "adGroupId": 202694745498469,
                "campaignId": 164069484151709,
                "expression": [
                  {
                    "type": "asinSameAs",
                    "value": "B07663Z46Z"
                  }
                ],
                "expressionType": "manual",
                "resolvedExpression": [
                  {
                    "type": "asinSameAs",
                    "value": "B07663Z46Z"
                  }
                ],
                "state": "archived",
                "targetId": 160145133562783
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "VWF34RF3RBT13535XA6X"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 129,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
