{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/getReport/only return report location when report status is SUCCESS",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "5916ac2a49cc512e63e39fa103350328",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,campaignName,adGroupId,adGroupName,campaignBudgetType,campaignStatus,keywordId,keywordStatus,keywordBid,keywordText,matchType\",\"reportDate\":\"20200314\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/keywords/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E972786.e34ee037-8010-4d75-8ce0-a0a44b67c3b3\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 221,
      },
      {
        "_id": "1bf6bd3fd61d702e502db928d6d81327",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5E972786.e34ee037-8010-4d75-8ce0-a0a44b67c3b3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 304,
            "text": {
              "fileSize": 22,
              "location": "https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5E972786.e34ee037-8010-4d75-8ce0-a0a44b67c3b3/download",
              "reportId": "amzn1.clicksAPI.v1.m1.5E972786.e34ee037-8010-4d75-8ce0-a0a44b67c3b3",
              "status": "SUCCESS",
              "statusDetails": "Report successfully generated"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "TRWXYWEDYA7JMFHTKHFF"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 122,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
