{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/downloadReport/should return query metric if specific query segment in sb keyword report",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "5916ac2a49cc512e63e39fa103350328",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "metrics": "campaignId,campaignName,adGroupId,adGroupName,campaignBudgetType,campaignStatus,keywordId,keywordStatus,keywordBid,keywordText",
              "reportDate": "20210126",
              "segment": "query"
            }
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/keywords/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.601A5EE0.eda6a3f0-e864-404f-8b25-a3b139a530ce\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 133,
      },
      {
        "_id": "841e413aeeaf1b4cc140f0711b3ba40e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
     [...]
