{
  "log": {
    "_recordingName": "SponsoredProductsNegativeTargetingOperation/listNegativeTargetingClausesExtended/should retrieve a list of negative targeting clauses with additional attributes",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "bf007e6547c2e5191578943713d73926",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargetsv2/sp/negativeTargets/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 198,
            "text": {
              "code": "NOT_FOUND",
              "details": "Could not find resource for full path: https://advertising-api-test.amazon.com/v2/sp/negativeTargetsv2/sp/negativeTargets/extended",
              "requestId": "XQ3NSFPEYXM5VH4M8NFC"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "XQ3NSFPEYXM5VH4M8NFC"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 32,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
