{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/createCampaigns/should create a campaign with auto bidding controls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "460ea13e26256080b8a4d807110069c2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"name\":\"test campaign 202003101\",\"campaignType\":\"sponsoredProducts\",\"dailyBudget\":1,\"state\":\"paused\",\"targetingType\":\"manual\",\"startDate\":\"20200310\",\"bidding\":{\"strategy\":\"autoForSales\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":900}]}}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "[{\"code\":\"SUCCESS\",\"campaignId\":118187547757946}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "KACH0H8TM72NNVNJXRY3"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 50,
      },
      {
        "_id": "87c99eef8f51d5f8d15cfeaa812a6e57",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/118187547757946"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 309,
            "text": "{\"campaignId\":118187547757946,\"name\":\"test campaign 202003101\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustment\":true,\"dailyBudget\":1.0,\"startDate\":\"20200310\",\"state\":\"paused\",\"bidding\":{\"strategy\":\"autoForSales\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":900}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "1FBNNJVYFJ2NZENXK18P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 46,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
