{
  "log": {
    "_recordingName": "SponsoredProductsSuggestedKeywordsOperation/getAdGroupSuggestedKeywordsExtended/should return extended suggested keyword data for the specified adGroupId, suggestBids, adStateFilter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "87b640a87dc2667642cea45602e5897f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxNumSuggestions",
              "value": "1000"
            },
            {
              "name": "suggestBids",
              "value": "yes"
            },
            {
              "_fromType": "array",
              "name": "adStateFilter",
              "value": "enabled"
            },
            {
              "_fromType": "array",
              "name": "adStateFilter",
              "value": "paused"
            },
            {
              "_fromType": "array",
              "name": "adStateFilter",
              "value": "archived"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/149522344269714/suggested/keywords/extended?maxNumSuggestions=1000&suggestBids=yes&adStateFilter=enabled&adStateFilter=paused&adStateFilter=archived"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 150805,
            "text": [
              {
                "adGroupId": 149522344269714,
                "bid": 0.62,
                "campaignId": 164069484151709,
                "keywordText": "keyword AB-RED-8675309 1",
                "matchType": "broad",
                "state": "enabled"
              },
              {
                "adGroupId": 149522344269714,
                "bid": 2.88,
                "campaignId": 164069484151709,
                "keywordText": "keyword AB-RED-8675309 2",
                "matchType": "broad",
                "state": "enabled"
              },
              {
                "adGroupId": 149522344269714,
                "bid": 1.34,
                "campaignId": 164069484151709,
                "keywordText": "keyword AB-RED-[...]
