{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/getNegativeTargetingClause/should retrieve a negative targeting clause with a specific target ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "4cf7d0f9e0e81d871fb6d76db7f50dac",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets/160326773421036"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "{\"targetId\":160326773421036,\"adGroupId\":202694745498469,\"campaignId\":164069484151709,\"expressionType\":\"manual\",\"state\":\"archived\",\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"resolvedExpression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "8A1P519SRXHDEGMZW5FD"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 43,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
