{
  "log": {
    "_recordingName": "SponsoredProductsNegativeTargetingOperation/listNegativeTargetingClauses/should retrieve a list of negative targeting clauses satisfying optional criteria",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "1c199aa9974c936a150c6744653d6880",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "campaignIdFilter",
              "value": "164069484151709"
            },
            {
              "name": "adGroupIdFilter",
              "value": "202694745498469"
            },
            {
              "name": "targetIdFilter",
              "value": "160145133562783"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargetsv2/sp/negativeTargets?startIndex=0&count=1&campaignIdFilter=164069484151709&adGroupIdFilter=202694745498469&targetIdFilter=160145133562783"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 306,
            "text": {
              "code": "NOT_FOUND",
              "details": "Could not find resource for full path: https://advertising-api-test.amazon.com/v2/sp/negativeTargetsv2/sp/negativeTargets?startIndex=0&count=1&campaignIdFilter=164069484151709&adGroupIdFilter=202694745498469&targetIdFilter=160145133562783",
              "requestId": "0S9NK49P5B580QBGEY6M"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "0S9NK49P5B580QBGEY6M"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 30,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
