{
  "log": {
    "_recordingName": "SponsoredProductsCampaignNegativeKeywordsOperation/updateCampaignNegativeKeywords/should update a campaign negative keyword polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "ab5a24547da289aa344c99271e0b7856",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"keywordId\":271800073719731,\"state\":\"enabled\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaignNegativeKeywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"code\":\"SUCCESS\",\"keywordId\":271800073719731}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "1HNQPWFJ80YPS5M7P0NJ"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 1116,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
