{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/listNegativeKeywords/should return an array of Negative Keywords when filter additional properties polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "6d02e33a8a01ea76f7ecf8f75ad8837a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "matchTypeFilter",
              "value": "negativeExact"
            },
            {
              "name": "keywordText",
              "value": "green apple"
            },
            {
              "name": "campaignIdFilter",
              "value": "164069484151709"
            },
            {
              "name": "adGroupIdFilter",
              "value": "149522344269714"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords?startIndex=0&count=1&matchTypeFilter=negativeExact&keywordText=green%20apple&campaignIdFilter=164069484151709&adGroupIdFilter=149522344269714"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 161,
            "text": "[{\"keywordId\":262433850080632,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"green apple\",\"matchType\":\"negativeExact\",\"state\":\"paused\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "X74TQWVY814DD8PS0J5X"
            },
            {
              "name": "x-amz-rid",
              "value": "X74TQWVY814DD8PS0J5X"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 43,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
