{
  "log": {
    "_recordingName": "SponsoredProductsSuggestedKeywordsOperation/getAdGroupSuggestedKeywords/should return suggested keyword data for the specified adGroupId polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "549c9cb860786766d527e04b431ac516",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/149522344269714/suggested/keywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 52,
            "text": "{\"adGroupId\":149522344269714,\"suggestedKeywords\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "B8NEYTZ2DDV1HZBR710Z"
            },
            {
              "name": "x-amz-rid",
              "value": "B8NEYTZ2DDV1HZBR710Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
