{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/getNegativeTargetingClauseExtended/should retrieve a negative targeting clause with additional attributes using a specific target ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "a5af548a0787cc98bf3d448875cb61de",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets/extended/160326773421036"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 349,
            "text": "{\"targetId\":160326773421036,\"adGroupId\":202694745498469,\"campaignId\":164069484151709,\"expressionType\":\"manual\",\"state\":\"archived\",\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"resolvedExpression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1580485594000,\"lastUpdatedDate\":1581149637000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "RBMZHJN3H80HQN67AAG6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
