{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/createTargetRecommendations/should return list of recommended products to target polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "2c6da703f887d069de7573d9f5c04f14",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"pageSize\":10,\"pageNumber\":1,\"asins\":[\"B07663Z46Z\",\"B07H8QMZWV\",\"B07C65XFBB\"]}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/productRecommendations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 467,
            "text": "{\"recommendedProducts\":[{\"recommendedTargetAsin\":\"OBMZVGMNA7C9B\"},{\"recommendedTargetAsin\":\"TRDJULHST6GRX\"},{\"recommendedTargetAsin\":\"CFSLRF3BAPVNU\"},{\"recommendedTargetAsin\":\"QI5KQEHVDI85Y\"},{\"recommendedTargetAsin\":\"W8BMCHRSPT8FB\"},{\"recommendedTargetAsin\":\"2LVDLKN5S92K7\"},{\"recommendedTargetAsin\":\"DU8U1SKTFQ4MB\"},{\"recommendedTargetAsin\":\"G6MOJXDNPRITS\"},{\"recommendedTargetAsin\":\"20L8HMKWVMLKD\"},{\"recommendedTargetAsin\":\"JISSZYXCFXD1E\"}],\"totalResultCount\":10}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "4MJ28PX8064SPCC6S17E"
            },
            {
              "name": "x-amz-rid",
              "value": "4MJ28PX8064SPCC6S17E"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 45,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
