{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/createTargetRecommendations/should return list of recommended products to target polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "23aad08c896219fb35da320087ddec67",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"pageSize\":10,\"pageNumber\":1,\"asins\":[\"B07663Z46Z\",\"B07H8QMZWV\",\"B07C65XFBB\"]}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/productRecommendations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 467,
            "text": "{\"recommendedProducts\":[{\"recommendedTargetAsin\":\"TBHAG1TOU8ETF\"},{\"recommendedTargetAsin\":\"BHGSWBPDGNMOF\"},{\"recommendedTargetAsin\":\"G60IXG9DLCDA6\"},{\"recommendedTargetAsin\":\"0CFWD2NQK8UZB\"},{\"recommendedTargetAsin\":\"RYPXFQACRDI6T\"},{\"recommendedTargetAsin\":\"I69NQHRIGOSLE\"},{\"recommendedTargetAsin\":\"LN3XFKHVFQX92\"},{\"recommendedTargetAsin\":\"O1EH179ZOABEE\"},{\"recommendedTargetAsin\":\"DMPKSNT4SBFOG\"},{\"recommendedTargetAsin\":\"OURJDKSNML3D7\"}],\"totalResultCount\":10}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "7RQEDZJ4PP6MZ1V0D448"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 807,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
