{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/listTargetingClauses/should retrieve a list of targeting clauses satisfying optional criteria",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "286b7fcee0670e0f14b79da9519a6cd1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "campaignIdFilter",
              "value": "164069484151709"
            },
            {
              "name": "adGroupIdFilter",
              "value": "202694745498469"
            },
            {
              "name": "targetIdFilter",
              "value": "256247845256441"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets?startIndex=0&count=1&campaignIdFilter=164069484151709&adGroupIdFilter=202694745498469&targetIdFilter=256247845256441"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 267,
            "text": "[{\"targetId\":256247845256441,\"adGroupId\":202694745498469,\"campaignId\":164069484151709,\"expressionType\":\"manual\",\"state\":\"archived\",\"bid\":10.0,\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"resolvedExpression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}]}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "GQ9ZVF2AWTCWJA0FF7GX"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 43,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
