{
  "log": {
    "_recordingName": "SponsoredDisplayProductAdsOperation/listProductAds/should retrieve a list of product ads satisfying optional criteria",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "2d6c337bc36ab70f210f3dfbf72291e3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "campaignIdFilter",
              "value": "169989740510339"
            },
            {
              "name": "adGroupIdFilter",
              "value": "164444192239500"
            },
            {
              "name": "adIdFilter",
              "value": "264577793668550"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sd/productAds?startIndex=0&count=1&campaignIdFilter=169989740510339&adGroupIdFilter=164444192239500&adIdFilter=264577793668550"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 120,
            "text": [
              {
                "adGroupId": 164444192239500,
                "adId": 264577793668550,
                "asin": "B07663Z46Z",
                "campaignId": 169989740510339,
                "state": "paused"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
