{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/getProductAd/should retrieve a product ad by ID polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "b87682d81780e6664a28940ce346053f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds/192944752071234"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 121,
            "text": "{\"adId\":192944752071234,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"sku\":\"AB-RED-8675309\",\"state\":\"paused\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "2A4437WMT3RVY9HG2XTT"
            },
            {
              "name": "x-amz-rid",
              "value": "2A4437WMT3RVY9HG2XTT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 75,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
