{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/getNegativeKeywordExtended/should return a Negative Keyword Extended polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "cc69492abe58f0ef05bbc8c05e8865fa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords/extended/262433850080632"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "{\"keywordId\":262433850080632,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"green apple\",\"matchType\":\"negativeExact\",\"state\":\"paused\",\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1578052929000,\"lastUpdatedDate\":1578052933000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "MXRVVFCCCERPFWBW6EJX"
            },
            {
              "name": "x-amz-rid",
              "value": "MXRVVFCCCERPFWBW6EJX"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
