{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/requestReport/should return a in progress status with keywords report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "6ee7afe6c954029ef2554d644b882310",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,keywordId,cost,impressions\",\"reportDate\":\"20200124\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/keywords/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E2B1E7E.79ac397b-02f5-4a84-982e-a937e1fff6c9\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "GV64M6MBQ8JZQT892ZCP"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 75,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
