{
  "log": {
    "_recordingName": "SponsoredProductsSuggestedKeywordsOperation/bulkGetAsinSuggestedKeywords/should return keyword suggestions for specified list of ASINs polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "5e51e31c1a7139f5c98047665a71393f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"asins\":[\"B07663Z46Z\",\"B07H8QMZWV\",\"B07C65XFBB\"]}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/asins/suggested/keywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5974,
            "text": "[{\"keywordText\":\"keyword B07663Z46Z 1\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07C65XFBB 1\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07H8QMZWV 1\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07663Z46Z 2\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07C65XFBB 2\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07H8QMZWV 2\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07663Z46Z 3\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07C65XFBB 3\",\"matchType\":\"broad\"},{\"keywordText\":\"k[...]
