{
  "log": {
    "_recordingName": "SponsoredDisplayProductAdsOperation/listProductAdsExtended/should retrieve a list of product ads ",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "48f7498ff9e9e6832040d993616994fe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/productAds/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 217,
            "text": [
              {
                "adGroupId": 164444192239500,
                "adId": 264577793668550,
                "asin": "B07663Z46Z",
                "campaignId": 169989740510339,
                "creationDate": 1597768029000,
                "lastUpdatedDate": 1597936390000,
                "servingStatus": "CAMPAIGN_PAUSED",
                "state": "archived"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 376,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
