{
  "log": {
    "_recordingName": "SponsoredProductsNegativeTargetingOperation/getNegativeTargetingClause/should retrieve a negative targeting clause with a specific target ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "e658059a755a442f77349bd1cd865644",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets/160145133562783"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 252,
            "text": {
              "adGroupId": 202694745498469,
              "campaignId": 164069484151709,
              "expression": [
                {
                  "type": "asinSameAs",
                  "value": "B07663Z46Z"
                }
              ],
              "expressionType": "manual",
              "resolvedExpression": [
                {
                  "type": "asinSameAs",
                  "value": "B07663Z46Z"
                }
              ],
              "state": "paused",
              "targetId": 160145133562783
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "44KGCPMB9ZHZ8207PR0G"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 167,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
