{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/listNegativeTargetingClausesExtended/should retrieve a list of negative targeting clauses with additional attributes polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "7b8b1d83a6ce24a16241f0fe72f129bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 349,
            "text": "[{\"targetId\":160326773421036,\"adGroupId\":202694745498469,\"campaignId\":164069484151709,\"expressionType\":\"manual\",\"state\":\"paused\",\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"resolvedExpression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1580485594000,\"lastUpdatedDate\":1580485702000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "G2J4W8CXB9H1Y9FYPPP1"
            },
            {
              "name": "x-amz-rid",
              "value": "G2J4W8CXB9H1Y9FYPPP1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 81,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
