{
  "log": {
    "_recordingName": "PortfolioOperation/listPortfolios/should accept params",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "a7685f0634c06104f19e193a16f3ea26",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "portfolioIdFilter",
              "value": "235596356388147"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/portfolios?portfolioIdFilter=235596356388147"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 80,
            "text": "[{\"portfolioId\":235596356388147,\"name\":\"boo\",\"inBudget\":true,\"state\":\"enabled\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "2F8R5VTMBH4A24TRV1T2"
            },
            {
              "name": "x-amz-rid",
              "value": "2F8R5VTMBH4A24TRV1T2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 152,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
