{
  "log": {
    "_recordingName": "SponsoredProductsCampaignNegativeKeywordsOperation/listCampaignNegativeKeywordsExtended/should return an array of campaign negative keywords extendeds polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "72e8290be9ceae7618c4025b446c1d32",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaignNegativeKeywords/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 224,
            "text": "[{\"keywordId\":271800073719731,\"campaignId\":164069484151709,\"keywordText\":\"banana\",\"matchType\":\"negativeExact\",\"state\":\"enabled\",\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1578146686000,\"lastUpdatedDate\":1578146686000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "EC2EW7A9RSXV2YP3FNXJ"
            },
            {
              "name": "x-amz-rid",
              "value": "EC2EW7A9RSXV2YP3FNXJ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 55,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
