{
  "log": {
    "_recordingName": "PortfolioOperation/updatePortfolios/should update portfolio and return a status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "39f6a6881aa4203dada0143bbdefd189",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"portfolioId\":235596356388147,\"name\":\"My Portfolio 1580308951918\",\"state\":\"enabled\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/portfolios"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 50,
            "text": "[{\"code\":\"SUCCESS\",\"portfolioId\":235596356388147}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "JJVK46XESNBJEA3941C8"
            },
            {
              "name": "x-amz-rid",
              "value": "JJVK46XESNBJEA3941C8"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 222,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
