{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/archiveProductAd/should set the product ad status to archived polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "a7db346f9faaba6ba6e5a6253a88b731",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds/192944752071234"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 41,
            "text": "{\"code\":\"SUCCESS\",\"adId\":192944752071234}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "Q1AG80TM7H7VEGVJKYB8"
            },
            {
              "name": "x-amz-rid",
              "value": "Q1AG80TM7H7VEGVJKYB8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 64,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
