{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/getReport/only return report location when report status is SUCCESS polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "b5c9e0166c9eba57388c2df46fb5d569",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5DD6AC1A.fcb02e87-8b0a-4edf-8f04-cd87e66376d5"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 305,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5DD6AC1A.fcb02e87-8b0a-4edf-8f04-cd87e66376d5\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5DD6AC1A.fcb02e87-8b0a-4edf-8f04-cd87e66376d5/download\",\"fileSize\":119}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "4P1KG95HRCTTVKRVKFQP"
            },
            {
              "name": "x-amz-rid",
              "value": "4P1KG95HRCTTVKRVKFQP"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 57,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
