{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/getReport/only return report location when report status is SUCCESS polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "e78044f69ce922656af005115e5ab6cd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"cost,impressions\",\"reportDate\":\"20200212\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E43FB84.0fcf364c-ec42-41b7-8ac5-2452b5bcb3be\",\"recordType\":\"targets\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 925,
      },
      {
        "_id": "085ad0ee8e1b2e00ff5631797304f73e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5E43FB84.0fcf364c-ec42-41b7-8ac5-2452b5bcb3be"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 305,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E43FB84.0fcf364c-ec42-41b7-8ac5-2452b5bcb3be\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5E43FB84.0fcf364c-ec42-41b7-8ac5-2452b5bcb3be/download\",\"fileSize\":313}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "5KHEWHG47Y0PP6X8RGHG"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 912,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
