{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/getReport/only return report location when report status is SUCCESS polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "23a28426a4a1cd1084ad0bce37db5629",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"cost,impressions\",\"reportDate\":\"20200208\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3E6DD5.e5a9e89f-16c8-4793-a490-4cd5912ce283\",\"recordType\":\"targets\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "PBK43MA626F3P4GVZPNF"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 106,
      },
      {
        "_id": "6aa577b2b39ff34160b88ab7dc4c1185",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5E3E6DD5.e5a9e89f-16c8-4793-a490-4cd5912ce283"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 305,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3E6DD5.e5a9e89f-16c8-4793-a490-4cd5912ce283\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5E3E6DD5.e5a9e89f-16c8-4793-a490-4cd5912ce283/download\",\"fileSize\":303}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "QEW3ESCE1WBDYFZE6EFD"
            },
            {
              "name": "x-amz-rid",
              "value": "QEW3ESCE1WBDYFZE6EFD"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 50,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
