{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/getReport/only return report location when report status is SUCCESS polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "8a969f36eaba6536e29507bdaf5bfeaa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"cost,impressions\",\"reportDate\":\"20200129\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3199C8.941b4965-5e08-4bbe-876b-93d357abdcca\",\"recordType\":\"targets\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "23NEJA21S9070AVJ1FKA"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 98,
      },
      {
        "_id": "e835d140287d53f054a3be2539da648a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5E3199C8.941b4965-5e08-4bbe-876b-93d357abdcca"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 305,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3199C8.941b4965-5e08-4bbe-876b-93d357abdcca\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5E3199C8.941b4965-5e08-4bbe-876b-93d357abdcca/download\",\"fileSize\":305}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "3JFY89GH7ACX9A95G3Y5"
            },
            {
              "name": "x-amz-rid",
              "value": "3JFY89GH7ACX9A95G3Y5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 90,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
