{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/getReport/only return report location when report status is SUCCESS polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "e71bcb12313b117a1e34b6cc8cb500b4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"cost,impressions\",\"reportDate\":\"20200130\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E32FC75.cc86b644-bb3f-476a-bb2c-14d5639cbc6f\",\"recordType\":\"targets\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "EFGRVRQ2BHXHR95BE48D"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 97,
      },
      {
        "_id": "f1f43c2ffa43ae6178ecbced9b74c100",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5E32FC75.cc86b644-bb3f-476a-bb2c-14d5639cbc6f"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 305,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E32FC75.cc86b644-bb3f-476a-bb2c-14d5639cbc6f\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5E32FC75.cc86b644-bb3f-476a-bb2c-14d5639cbc6f/download\",\"fileSize\":314}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "S5Q98PGMG3F0Q15E4TKJ"
            },
            {
              "name": "x-amz-rid",
              "value": "S5Q98PGMG3F0Q15E4TKJ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 78,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
