{
  "log": {
    "_recordingName": "ProfileOperation/updateProfiles/should update the profile polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "43f0b2e120dce04a39c7641757aa9be6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles/2984328618318898"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 214,
            "text": "{\"profileId\":2984328618318898,\"countryCode\":\"US\",\"currencyCode\":\"USD\",\"dailyBudget\":340.0,\"timezone\":\"America/Los_Angeles\",\"accountInfo\":{\"marketplaceStringId\":\"ATVPDKIKX0DER\",\"id\":\"AUZWHWR0590BC\",\"type\":\"seller\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "06H63D8ZKQD5QKXAHSX1"
            },
            {
              "name": "x-amz-rid",
              "value": "06H63D8ZKQD5QKXAHSX1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 35,
      },
      {
        "_id": "2a7bb18ab7266393418d9373fcd7be61",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"profileId\":2984328618318898,\"dailyBudget\":340}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "[{\"code\":\"SUCCESS\",\"profileId\":2984328618318898}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "DWYEHYMJK8005TJ89W03"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 1374,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
