{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/listNegativeKeywordsExtended/should return an array of Negative Keyword Extendeds polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "5119777582fd1b7dfa02cac5df2dfcd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 256,
            "text": "[{\"keywordId\":262433850080632,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"green apple\",\"matchType\":\"negativeExact\",\"state\":\"paused\",\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1578052929000,\"lastUpdatedDate\":1578052933000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "P9G0W32VDS5NN206W8EQ"
            },
            {
              "name": "x-amz-rid",
              "value": "P9G0W32VDS5NN206W8EQ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 57,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
