{
  "log": {
    "_recordingName": "OAuthClient/refresh an existing token polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "6bc0a106332134ac2ad55c87b684ae22",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "authorization",
              "value": "Basic x"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "refresh_token=x&grant_type=refresh_token"
          },
          "queryString": [],
          "url": "https://api.amazon.com/auth/o2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1318,
            "text": "{\"access_token\":\"x\",\"expires_in\":3600,\"refresh_token\":\"x\",\"token_type\":\"bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "acad2491-9a2d-4380-abc5-8b944a3e318f"
            },
            {
              "name": "x-amz-date",
              "value": "Sun, 20 Oct 2019 13:00:35 GMT"
            },
            {
              "name": "x-amz-rid",
              "value": "1WPHQPHEWK0372H5H9PT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 201,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
