{
  "log": {
    "_recordingName": "SponsoredProductsSnapshotOperation/getSnapshot/should return a snapshot with a specific snapshot id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "873398c1b4d74546d695b65d705ea53c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/snapshot"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 130,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E6C516A.ca9a17cb-de07-4e76-9484-50f700fc2715\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "4K4JCZZ6YQCN595BMV5H"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 75,
      },
      {
        "_id": "ab99516ecf476610ebc4b4d0c1c701e1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/snapshots/amzn1.clicksAPI.v1.p1.5E6C516A.ca9a17cb-de07-4e76-9484-50f700fc2715"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 161,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E6C516A.ca9a17cb-de07-4e76-9484-50f700fc2715\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Snapshot generation is in progress.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "0T5ZZF7DF8CR0XYK4Q8Y"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 48,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
