{
  "log": {
    "_recordingName": "SponsoredProductsSnapshotOperation/getSnapshot/should return a snapshot with a specific snapshot id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "873398c1b4d74546d695b65d705ea53c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/snapshot"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 130,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E88A326.119bb61a-5353-4810-ba23-5fc05ca64774\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "57Y2VC6SVWJKQN5PWX3Y"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 187,
      },
      {
        "_id": "b053a6e8b86f7579789da2d0c4ecf257",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/snapshots/amzn1.clicksAPI.v1.p1.5E88A326.119bb61a-5353-4810-ba23-5fc05ca64774"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 321,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E88A326.119bb61a-5353-4810-ba23-5fc05ca64774\",\"status\":\"SUCCESS\",\"statusDetails\":\"Snapshot has been successfully generated.\",\"location\":\"https://advertising-api-test.amazon.com/v1/snapshots/amzn1.clicksAPI.v1.p1.5E88A326.119bb61a-5353-4810-ba23-5fc05ca64774/download\",\"fileSize\":148}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "Z7BPXBFN1JRC5BYBWH94"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
