{
  "log": {
    "_recordingName": "SponsoredBrandsSnapshotOperation/requestSnapshot/should return a snapshot report for all entities of a single record type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "e8aa7d4e894606663f867ace18eae397",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/campaigns/snapshot"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 131,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E738856.3dbeb0b6-c55b-4091-aaf7-49c16b033bc1\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "NAZ21DQP8BJHNWEFBP05"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 209,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
