{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/getBrandRecommendations/should return recommended brands for the specified keyword polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "9bf972e622d8e80e599e07cc2b14e6fa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "keyword",
              "value": "Apple"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/brands?keyword=Apple"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4208,
            "text": "[{\"id\":20746115011,\"name\":\"Apple\"},{\"id\":2528944011,\"name\":\"Apple\"},{\"id\":3019134011,\"name\":\"Bitter Apple\"},{\"id\":13569356011,\"name\":\"Apple ER\"},{\"id\":19573860011,\"name\":\"Healthy Apple\"},{\"id\":20596431011,\"name\":\"Daffy Apple\"},{\"id\":8258348011,\"name\":\"Apple Bag\"},{\"id\":20520330011,\"name\":\"Apple Jacks\"},{\"id\":7482903011,\"name\":\"Apple Corps\"},{\"id\":3017152011,\"name\":\"Apple Jacks\"},{\"id\":2582331011,\"name\":\"Apple Bottoms\"},{\"id\":13397228011,[...]
