{
  "log": {
    "_recordingName": "SponsoredDisplayAdGroupOperation/getAdGroupExtended/should get an extended ad group",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "b3c761f4a8e8898c5fb4578463e6999a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/extended/83691965128172"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 229,
            "text": {
              "adGroupId": 83691965128172,
              "campaignId": 169989740510339,
              "creationDate": 1597591883000,
              "defaultBid": 1,
              "lastUpdatedDate": 1597591883000,
              "name": "test sd ad group 2020/08/16 22:22",
              "servingStatus": "CAMPAIGN_PAUSED",
              "state": "paused"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "VJS6Y4F9PMCW26H43DDN"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 114,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
