{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/updateProductAds/should updates one or more product ads polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "8121be7794674d71e5d7f9d1a85ba838",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"adId\":192944752071234,\"state\":\"paused\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 104,
            "text": "[{\"code\":\"INVALID_ARGUMENT\",\"description\":\" Archived entity cannot be modified\",\"adId\":192944752071234}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "E85VCD7VA1ZKY9V4RQ09"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 879,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
