{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/updateProductAds/should updates one or more product ads polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "3c79fefbc5e1c5058815c86aa9382930",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"adId\":192944752071234,\"state\":\"paused\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": "[{\"code\":\"SUCCESS\",\"adId\":192944752071234}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "N07616DV62J0CAR855DH"
            },
            {
              "name": "x-amz-rid",
              "value": "N07616DV62J0CAR855DH"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 71,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
