{
  "log": {
    "_recordingName": "SponsoredDisplayCampaignOperation/archiveCampaign/should set the campaign to archived state",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "f20df2459744dc7d9364eb8649557830",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/campaigns/108235017529238"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 47,
            "text": {
              "campaignId": 108235017529238,
              "code": "SUCCESS"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 174,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
