{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/getReport/only return report location when report status is SUCCESS polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "877d94e61da3c135b9d1278cc0a4701d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,keywordId,cost,impressions\",\"reportDate\":\"20200204\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/keywords/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E399366.70237ce3-2773-485f-b221-702177bb7052\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "76301DXS7ERQZJVDQ2J2"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 71,
      },
      {
        "_id": "09eade44a7e314cb06521dafd629fb99",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5E399366.70237ce3-2773-485f-b221-702177bb7052"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 304,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E399366.70237ce3-2773-485f-b221-702177bb7052\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5E399366.70237ce3-2773-485f-b221-702177bb7052/download\",\"fileSize\":22}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "QDPNAE51GV518SZSXBQ2"
            },
            {
              "name": "x-amz-rid",
              "value": "QDPNAE51GV518SZSXBQ2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 68,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
