{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/getReport/only return report location when report status is SUCCESS polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "e2e72a0fa53f894e4e29002e6cf280d7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,keywordId,cost,impressions\",\"reportDate\":\"20200131\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/keywords/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E344246.99b3ec9e-88d1-4702-bf02-a0284a40122b\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "5TMWNYSC5DPAE8345H1Y"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 67,
      },
      {
        "_id": "fb74546096471bd7b90b5dc2a6252fe3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5E344246.99b3ec9e-88d1-4702-bf02-a0284a40122b"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 304,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E344246.99b3ec9e-88d1-4702-bf02-a0284a40122b\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5E344246.99b3ec9e-88d1-4702-bf02-a0284a40122b/download\",\"fileSize\":22}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "AD08JEV03SC14E948MP6"
            },
            {
              "name": "x-amz-rid",
              "value": "AD08JEV03SC14E948MP6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 57,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
