{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/getReport/only return report location when report status is SUCCESS polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "082c5b5109569465551f6d373470022c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,keywordId,cost,impressions\",\"reportDate\":\"20200128\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/keywords/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3003C7.b38c8efc-33f4-4103-a916-4bd5e7589ca8\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "41D6J9J4KGBXNCDN33D3"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 98,
      },
      {
        "_id": "1f67ff328cc0105ab39d4f1538915c20",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5E3003C7.b38c8efc-33f4-4103-a916-4bd5e7589ca8"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 304,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3003C7.b38c8efc-33f4-4103-a916-4bd5e7589ca8\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5E3003C7.b38c8efc-33f4-4103-a916-4bd5e7589ca8/download\",\"fileSize\":22}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "B3ACWJAC3Z4VBE27G8P9"
            },
            {
              "name": "x-amz-rid",
              "value": "B3ACWJAC3Z4VBE27G8P9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 110,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
