{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/getReport/only return report location when report status is SUCCESS polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "5916ac2a49cc512e63e39fa103350328",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,keywordId,cost,impressions\",\"reportDate\":\"20200212\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/keywords/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E43FA7C.1223c9b4-384e-4290-8bb3-cc56ca91a5a2\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 995,
      },
      {
        "_id": "c854bbf4cd5d7934453f0c1f131fefab",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5E43FA7C.1223c9b4-384e-4290-8bb3-cc56ca91a5a2"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 304,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E43FA7C.1223c9b4-384e-4290-8bb3-cc56ca91a5a2\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5E43FA7C.1223c9b4-384e-4290-8bb3-cc56ca91a5a2/download\",\"fileSize\":22}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "Y4X0FPWA4KD3B021EJFD"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 874,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
