{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/getReport/only return report location when report status is SUCCESS polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "9c672804e8b565c73719e17643bad78b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,keywordId,cost,impressions\",\"reportDate\":\"20200208\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/keywords/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3E6DE1.f21b690c-b28e-458d-ac32-b1d940b6c654\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "E53RMDTAZ244NE2BA6S0"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 79,
      },
      {
        "_id": "cc0ae17d6f31df4486e955f90f183a29",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5E3E6DE1.f21b690c-b28e-458d-ac32-b1d940b6c654"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 304,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3E6DE1.f21b690c-b28e-458d-ac32-b1d940b6c654\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5E3E6DE1.f21b690c-b28e-458d-ac32-b1d940b6c654/download\",\"fileSize\":22}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "31WZFB617TS959WJB0TN"
            },
            {
              "name": "x-amz-rid",
              "value": "31WZFB617TS959WJB0TN"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 53,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
