{
  "log": {
    "_recordingName": "SponsoredProductsCampaignNegativeKeywordsOperation/archiveCampaignNegativeKeyword/should archive a campaign negative keyword",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "0a6e12c6a3c0db2e5efb2d88292e1277",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaignNegativeKeywords/271800073719731"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"code\":\"SUCCESS\",\"keywordId\":271800073719731}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "92SASFMM451KMN2YAKKY"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 163,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
