{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/createCampaigns/should create a campaign with auto bidding controls polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "6269d5bc3501dd5b9e23765a4c85290f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"name\":\"test campaign 201912141\",\"campaignType\":\"sponsoredProducts\",\"dailyBudget\":1,\"state\":\"paused\",\"targetingType\":\"manual\",\"startDate\":\"20191214\",\"bidding\":{\"strategy\":\"autoForSales\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":900}]}}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "[{\"code\":\"SUCCESS\",\"campaignId\":263037857502769}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "B5CDH2NZEQK21Z581R7D"
            },
            {
              "name": "x-amz-rid",
              "value": "B5CDH2NZEQK21Z581R7D"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 45,
      },
      {
        "_id": "20ea09c87067d058583d6ea85cb1abeb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/263037857502769"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 309,
            "text": "{\"campaignId\":263037857502769,\"name\":\"test campaign 201912141\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustment\":true,\"dailyBudget\":1.0,\"startDate\":\"20191214\",\"state\":\"paused\",\"bidding\":{\"strategy\":\"autoForSales\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":900}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "CACYM6CDCYKD1CYE961P"
            },
            {
              "name": "x-amz-rid",
              "value": "CACYM6CDCYKD1CYE961P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 46,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
