{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/updateNegativeTargetingClauses/should updates one or more negative targeting clauses polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "acca27b5347798ee28a82db773386911",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":164069484151709,\"adGroupId\":202694745498469,\"targetId\":160326773421036,\"state\":\"paused\",\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"expressionType\":\"manual\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 108,
            "text": "[{\"code\":\"INVALID_ARGUMENT\",\"description\":\" Archived entity cannot be modified\",\"targetId\":160326773421036}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "SD0YAJSMXAN0M4HB3VTC"
            },
            {
              "name": "x-amz-rid",
              "value": "SD0YAJSMXAN0M4HB3VTC"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 68,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
