{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/listProductAdsExtended/should retrieve a list of product ads  polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "23b3cd7822666771e36ccaaac468af35",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 423,
            "text": "[{\"adId\":2912157523831,\"adGroupId\":109226894492069,\"campaignId\":31299234922913,\"sku\":\"ABC\",\"state\":\"archived\",\"servingStatus\":\"PORTFOLIO_ENDED\",\"creationDate\":1551148342000,\"lastUpdatedDate\":1551148939000},{\"adId\":192944752071234,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"sku\":\"AB-RED-8675309\",\"state\":\"paused\",\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1579407292000,\"lastUpdatedDate\":1579423784000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "1W6KGWH3P7PDC6G8K6E3"
            },
            {
              "name": "x-amz-rid",
              "value": "1W6KGWH3P7PDC6G8K6E3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 81,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
