{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/listCampaigns/should return an array of campaigns polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "5ab575b6ca99b225ae5b6d73443bac43",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3978,
            "text": "[{\"campaignId\":188971111858084,\"name\":\"test campaign 3\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustment\":true,\"dailyBudget\":1.0,\"startDate\":\"20190301\",\"state\":\"archived\",\"bidding\":{\"strategy\":\"legacyForSales\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":50}]}},{\"campaignId\":60376914769424,\"name\":\"test campaign 2\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustment\":true,\"dailyBudget\":1.0,\"startDate\":\"20190301\",\"state\":\"archived\",\"bidding\":{\"strategy\":\"legacyForSales\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":50}]}},{\"campaignId\":110682930291375,\"name\":\"test campaign\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustment\":false,\"dailyBudget\":1.0,\"startDate\":\"20190301\",\"state\":\"enabled\",\"bidding\":{\"strategy\":\"legacyForSales\",\"adjustments\":[]}},{\"campaignId\":263323102387247,\"name\":\"test campaign 4\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustment\":true,\"dailyBudget\":1.0,\"startDate\":\"20190301\",\"state\":\"enabled\",\"bidding\":{\"strategy\":\"legacyForSales\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":50}]}},{\"campaignId\":31299234922913,\"name\":\"new name\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"auto\",\"premiumBidAdjustment\":false,\"dailyBudget\":7.0,\"startDate\":\"20290101\",\"state\":\"paused\",\"bidding\":{\"strategy\":\"legacyForSales\",\"adjustments\":[]},\"portfolioId\":77985496739778},{\"campaignId\":256131386731339,\"name\":\"test campaign 6\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustment\":true,\"dailyBudget\":1.0,\"startDate\":\"20190401\",\"state\":\"paused\",\"bidding\":{\"strategy\":\"manual\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":50}]}},{\"campaignId\":226782952913865,\"name\":\"test campaign 11\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustm[...]
