{
  "log": {
    "_recordingName": "SponsoredProductsSuggestedKeywordsOperation/bulkGetAsinSuggestedKeywords/should return keyword suggestions for specified list of ASINs, max suggestion keyword polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "91e3cf1e0c14c5de5afcaed36e6e7405",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"asins\":[\"B07663Z46Z\",\"B07H8QMZWV\",\"B07C65XFBB\"],\"maxNumSuggestions\":1}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/asins/suggested/keywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 60,
            "text": "[{\"keywordText\":\"keyword B07663Z46Z 1\",\"matchType\":\"broad\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "D1G9Q49GVNWZTR88ZT5V"
            },
            {
              "name": "x-amz-rid",
              "value": "D1G9Q49GVNWZTR88ZT5V"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 37,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
