{
  "log": {
    "_recordingName": "SponsoredBrandsSnapshotOperation/getSnapshot/should return a snapshot with a specific snapshot id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "e8aa7d4e894606663f867ace18eae397",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/campaigns/snapshot"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 131,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E738857.1c2be957-493d-4495-85e6-2530da68c5f6\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "85QY7B347VT6KZ84FVFP"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 125,
      },
      {
        "_id": "811ac7a88b9d37cd39bd196ddea335aa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/snapshots/amzn1.clicksAPI.v1.p1.5E738857.1c2be957-493d-4495-85e6-2530da68c5f6"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 161,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E738857.1c2be957-493d-4495-85e6-2530da68c5f6\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Snapshot generation is in progress.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "J380PWREPTQ9X3RN2MYC"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 44,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
