{
  "log": {
    "_recordingName": "SponsoredProductsNegativeTargetingOperation/listNegativeTargetingClausesExtended/should retrieve a list of negative targeting clauses with additional attributes satisfying optional criteria",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "7181878d9f80c65242304872d08df9e1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "campaignIdFilter",
              "value": "164069484151709"
            },
            {
              "name": "adGroupIdFilter",
              "value": "202694745498469"
            },
            {
              "name": "targetIdFilter",
              "value": "160145133562783"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets/extended?startIndex=0&count=1&campaignIdFilter=164069484151709&adGroupIdFilter=202694745498469&targetIdFilter=160145133562783"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 351,
            "text": [
              {
                "adGroupId": 202694745498469,
                "campaignId": 164069484151709,
                "creationDate": 1584024717000,
                "expression": [
                  {
                    "type": "asinSameAs",
                    "value": "B07663Z46Z"
                  }
                ],
                "expressionType": "manual",
                "lastUpdatedDate": 1598690310000,
                "resolvedExpression": [
                  {
                    "type": "asinSameAs",
                    "value": "B07663Z46Z"
                  }
                ],
                "servingStatus": "CAMPAIGN_PAUSED",
                "state": "archived",
                "targetId": 160145133562783
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "DXXWD81A9F7KBEPCGQ7Q"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 81,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
