{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status with keywords report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "a8b32797ac1a8d840d00ca3bb79a31a8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,keywordId,cost,impressions\",\"reportDate\":\"20200124\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E2B1E6B.389ea338-5fa1-4e2c-b95e-6c6782413a32\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "9601723EF8A5WSY3J18M"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 96,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
