{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status with keywords report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "4cc6152b3f8978c5e379bf0f33a70326",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,keywordId,cost,impressions\",\"reportDate\":\"20200131\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E344230.cfa8a7e4-1f3b-4371-89ee-af6e9f995584\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "QSKVJ6FGA4YT39A60P8T"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 157,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
