{
  "log": {
    "_recordingName": "RefreshToken",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "0ef724e784c8a306a30aa3e06a92706f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "authorization",
              "value": "Basic x"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "refresh_token=x&grant_type=refresh_token"
          },
          "queryString": [],
          "url": "https://api.amazon.com/auth/o2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1318,
            "text": "{\"access_token\":\"x\",\"expires_in\":3600,\"refresh_token\":\"x\",\"token_type\":\"bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "a249376c-2051-47a4-bbee-77b302a7036d"
            },
            {
              "name": "x-amz-date",
              "value": "Wed, 16 Oct 2019 14:49:03 GMT"
            },
            {
              "name": "x-amz-rid",
              "value": "EKA81PETZ52XMDDA39WX"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 202,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
