{
  "log": {
    "_recordingName": "SponsoredDisplaySuggestedProductsOperation/listSuggestedProducts/should retrieve a list of products filtered by tactic",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "9a65093794fd85397aae26826279e069",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "tacticFilter",
              "value": "remarketing"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sd/suggestedProducts?tacticFilter=remarketing"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": []
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 389,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
