{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupOperation/listAdGroups/should accept params",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "372942d256655f9e5382ee60a3e4d5e8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "adGroupIdFilter",
              "value": "138818764235694"
            },
            {
              "name": "campaignIdFilter",
              "value": "31299234922913"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "stateFilter",
              "value": "archived"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups?adGroupIdFilter=138818764235694&campaignIdFilter=31299234922913&count=1&stateFilter=archived"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 113,
            "text": "[{\"adGroupId\":138818764235694,\"name\":\"New Name\",\"campaignId\":31299234922913,\"defaultBid\":1.0,\"state\":\"archived\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "2X740S12H2HPA9WBK8D5"
            },
            {
              "name": "x-amz-rid",
              "value": "2X740S12H2HPA9WBK8D5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 50,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
