{
  "log": {
    "_recordingName": "SponsoredProductsSuggestedKeywordsOperation/getAdGroupSuggestedKeywordsExtended/should return extended suggested keyword data for the specified adGroupId, suggestBids, adStateFilter polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "2d3c2b24db166b180e2c37b8f3e20b47",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxNumSuggestions",
              "value": "1000"
            },
            {
              "name": "suggestBids",
              "value": "yes"
            },
            {
              "_fromType": "array",
              "name": "adStateFilter",
              "value": "enabled"
            },
            {
              "_fromType": "array",
              "name": "adStateFilter",
              "value": "paused"
            },
            {
              "_fromType": "array",
              "name": "adStateFilter",
              "value": "paused"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/149522344269714/suggested/keywords/extended?maxNumSuggestions=1000&suggestBids=yes&adStateFilter=enabled&adStateFilter=paused&adStateFilter=paused"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "[]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "A5F1E43AQEJNJX4706EQ"
            },
            {
              "name": "x-amz-rid",
              "value": "A5F1E43AQEJNJX4706EQ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
