{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/archiveNegativeKeyword/should archive a negative keyword polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "74796c7d6ae0fe5b41a52eb6f16b0c84",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords/262433850080632"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"code\":\"SUCCESS\",\"keywordId\":262433850080632}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "FC3BJZS732AB039P2JDM"
            },
            {
              "name": "x-amz-rid",
              "value": "FC3BJZS732AB039P2JDM"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 45,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
