{
  "log": {
    "_recordingName": "SponsoredDisplayCampaignOperation/getCampaign/should return a single campaign",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "5d3d6fa565d139a9ec0a488e856b3b0a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/campaigns/169989740510339"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 223,
            "text": {
              "budget": 1,
              "budgetType": "daily",
              "campaignId": 169989740510339,
              "costType": "cpc",
              "deliveryProfile": "as_soon_as_possible",
              "endDate": "20201212",
              "name": "new name",
              "startDate": "20201210",
              "state": "paused",
              "tactic": "remarketing"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 51,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
