{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/getTargetingCategories/should return a list of targeting categories",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "8b1e66751f424d31cafeb008f55359c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "_fromType": "array",
              "name": "asins",
              "value": "B07663Z46Z"
            },
            {
              "_fromType": "array",
              "name": "asins",
              "value": "B07H8QMZWV"
            },
            {
              "_fromType": "array",
              "name": "asins",
              "value": "B07C65XFBB"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/categories?asins=B07663Z46Z&asins=B07H8QMZWV&asins=B07C65XFBB"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 352,
            "text": "[{\"id\":2335752011,\"name\":\"Cell Phones & Accessories\",\"path\":\"/Cell Phones & Accessories\",\"isTargetable\":true},{\"id\":7072561011,\"name\":\"Cell Phones\",\"path\":\"/Cell Phones & Accessories/Cell Phones\",\"isTargetable\":true},{\"id\":2407748011,\"name\":\"Carrier Cell Phones\",\"path\":\"/Cell Phones & Accessories/Cell Phones/Carrier Cell Phones\",\"isTargetable\":true}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "ENGYCGXZBV4X6MCKQGCT"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 619,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
