{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/listProductAds/should retrieve a list of product ads satisfying optional criteria",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "f83606a2c32db195f7e8db7ff9e5d8a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "campaignIdFilter",
              "value": "164069484151709"
            },
            {
              "name": "adGroupIdFilter",
              "value": "149522344269714"
            },
            {
              "name": "adIdFilter",
              "value": "192944752071234"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds?startIndex=0&count=1&campaignIdFilter=164069484151709&adGroupIdFilter=149522344269714&adIdFilter=192944752071234"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 125,
            "text": "[{\"adId\":192944752071234,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"sku\":\"AB-RED-8675309\",\"state\":\"archived\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "M61E9JYNDKRV6PJZFX84"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 57,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
