{
  "log": {
    "_recordingName": "SponsoredProductsSnapshotOperation/requestSnapshot/should return a snapshot report for all entities of a single record type polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "7d21194ad6615d06c57f30da498424b8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/snapshot"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 131,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E4569FD.e20617e3-87e7-432f-9627-ccb2eebd19a2\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "TAABFT1BBH1MWM6MQ57Y"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 239,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
