{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/listNegativeKeywordsExtended/should return an array of Negative Keyword Extendeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "5119777582fd1b7dfa02cac5df2dfcd3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 513,
            "text": "[{\"keywordId\":262433850080632,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"green apple\",\"matchType\":\"negativeExact\",\"state\":\"archived\",\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1578052929000,\"lastUpdatedDate\":1578124266000},{\"keywordId\":132130523121557,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"green apple\",\"matchType\":\"negativeExact\",\"state\":\"paused\",\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1584022203000,\"lastUpdatedDate\":1584022203000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "CFB2TX6SBGZHGTMT836Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
