{
  "log": {
    "_recordingName": "HttpClient/get/should throw ThrottlingError when encountering throttling",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "93a4d1d30631600903f761c4740576aa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/throttle"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 155
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amz-request-id",
              "value": "BY8MJFWBPZ2A77H5RBP5"
            },
            {
              "name": "retry-after",
              "value": "42"
            }
          ],
          "status": 429,
          "statusText": "OK"
        },
        "time": 1964,
      },
      {
        "_id": "93a4d1d30631600903f761c4740576aa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/throttle"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 155
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amz-request-id",
              "value": "J17AATM4PYZ5XTVFKRCG"
            },
            {
              "name": "retry-after",
              "value": "42"
            }
          ],
          "status": 429,
          "statusText": "OK"
        },
        "time": 1507,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
