{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/updateCampaigns/sp: should update a campaign",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "e626ec91368ee46780b9b74c20cdca16",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":31299234922913,\"portfolioId\":77985496739778,\"name\":\"new name\",\"state\":\"paused\",\"dailyBudget\":7}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"code\":\"SUCCESS\",\"campaignId\":31299234922913}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "WFZ4ECVM0PD4TE3JFZ6T"
            },
            {
              "name": "x-amz-rid",
              "value": "WFZ4ECVM0PD4TE3JFZ6T"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 158,
      },
      {
        "_id": "948c8a43f55368c38a114d834dbfca64",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/31299234922913"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 278,
            "text": "{\"campaignId\":31299234922913,\"name\":\"new name\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"auto\",\"premiumBidAdjustment\":false,\"dailyBudget\":7.0,\"startDate\":\"20290101\",\"state\":\"paused\",\"bidding\":{\"strategy\":\"legacyForSales\",\"adjustments\":[]},\"portfolioId\":77985496739778}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "73064PZE6GBF77F43H3G"
            },
            {
              "name": "x-amz-rid",
              "value": "73064PZE6GBF77F43H3G"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
