{
  "log": {
    "_recordingName": "HttpClient/download/should throw if location header not set",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "3909d7024945934b0705af99425c9a88",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "-1"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/profiles"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 120,
            "text": "{\"fileSize\":518,\"location\":\"\",\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5C8B19EB.7298de0e-17cd-441f-bf5c-17a27406b0d6\",\"status\":\"SUCCESS\",\"statusDetails\":\"Snapshot has been successfully generated.\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "QF529SXZVX51S6Y34X5B"
            },
            {
              "name": "location",
              "value": ""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1556,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
