{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/createTargetRecommendations/should return list of recommended products to target",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "23aad08c896219fb35da320087ddec67",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"pageSize\":10,\"pageNumber\":1,\"asins\":[\"B07663Z46Z\",\"B07H8QMZWV\",\"B07C65XFBB\"]}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/productRecommendations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 467,
            "text": "{\"recommendedProducts\":[{\"recommendedTargetAsin\":\"QNGDARHFONAOD\"},{\"recommendedTargetAsin\":\"ZVKRO2MY8OOMX\"},{\"recommendedTargetAsin\":\"CWSS43T9V7PNE\"},{\"recommendedTargetAsin\":\"W6B4FEPCXHSUI\"},{\"recommendedTargetAsin\":\"J6FOFE9NBA1QK\"},{\"recommendedTargetAsin\":\"QRRYAMZSZXXGU\"},{\"recommendedTargetAsin\":\"ACK8FZKYJSGPA\"},{\"recommendedTargetAsin\":\"3RVJF0XN9ZNVK\"},{\"recommendedTargetAsin\":\"VEFND7LQBLYG5\"},{\"recommendedTargetAsin\":\"FY0HRC6TBDNWA\"}],\"totalResultCount\":10}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "DC6B1XBAJPWQZ1H4R153"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 33,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
