{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/getBrandRecommendations/should return recommended brands for the specified category id polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "bd4f9080c1bb545696d87bef7c3f5fbe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "categoryId",
              "value": "2335752011"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/brands?categoryId=2335752011"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 72,
            "text": "[{\"id\":19831372011,\"name\":\"SanDisk\"},{\"id\":2530342011,\"name\":\"Samsung\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "95GFGE4AY8YJH41AVK3B"
            },
            {
              "name": "x-amz-rid",
              "value": "95GFGE4AY8YJH41AVK3B"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 330,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
