{
  "log": {
    "_recordingName": "SponsoredProductsSuggestedKeywordsOperation/getAdGroupSuggestedKeywordsExtended/should return extended suggested keyword data for the specified adGroupId polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "5f7fb140d6fdd5ea178b2ca98bf74a2f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/149522344269714/suggested/keywords/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "[]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "CS3R9EREPV935RRG7YQB"
            },
            {
              "name": "x-amz-rid",
              "value": "CS3R9EREPV935RRG7YQB"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
