{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/downloadReport/should return the report uncompressed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "3d87eee4e539b7813691006d3ec78f04",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"clicks,cost,impressions\",\"reportDate\":\"20200314\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 165,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E6C5048.c4811c0f-ac35-48f8-98fc-a9a6fc2340c5\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 106,
      },
      {
        "_id": "ea16016da70559c504992726295378fe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bid[...]
