{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/downloadReport/should return the report uncompressed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "267d7d687f66dab6bb6abda10089d9b6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"clicks,cost,impressions\",\"reportDate\":\"20191211\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 165,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5DF10225.de5ffb84-e1c1-4ef5-9453-6b156ff11bc1\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "C49F29T5BVEM2THW3KW4"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 106,
      },
      {
        "_id": "0bc33a91a3719123fc8ed51d646235d2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.clicksAPI.v1.m1.5DF10225.de5ffb84-e1c1-4ef5-9453-6b156ff11bc1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 305,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5DF10225.de5ffb84-e1c1-4ef5-9453-6b156ff11bc1\",\"status\":\"SUCCESS\",\"statusDetails\":\"Report successfully generated\",\"location\":\"https://advertising-api-test.amazon.com/v1/reports/amzn1.clicksAPI.v1.m1.5DF10225.de5ffb84-e1c1-4ef5-9453-6b156ff11bc1/download\",\"fileSize\":141}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "36HX9SN6ZXB7ANC5RXSK"
            },
            {
              "name": "x-amz-rid",
              "value": "36HX9SN6ZXB7ANC5RXSK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 68,
      },
      {
        [...]
