{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/downloadReport/should return the report uncompressed polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "137fc3172fbe902b98db2abf70d8b7ac",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"clicks,cost,impressions\",\"reportDate\":\"20200211\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 165,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E42BE46.46e44f37-5330-4b27-a034-200999da792c\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "21SSDS1978P3RC887SF6"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 131,
      },
      {
        "_id": "e64ccf64f32226f1a3edcfcb372868a1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bid[...]
