{
  "log": {
    "_recordingName": "SponsoredProductsCampaignNegativeKeywordsOperation/listCampaignNegativeKeywords/should return an array of campaign negative keywords when filter additional properties",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "779627f4ccabddf51eb9cc4ac8a46eb2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "matchTypeFilter",
              "value": "negativeExact"
            },
            {
              "name": "keywordText",
              "value": "banana"
            },
            {
              "name": "campaignIdFilter",
              "value": "164069484151709"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaignNegativeKeywords?startIndex=0&count=1&matchTypeFilter=negativeExact&keywordText=banana&campaignIdFilter=164069484151709"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 129,
            "text": "[{\"keywordId\":271800073719731,\"campaignId\":164069484151709,\"keywordText\":\"banana\",\"matchType\":\"negativeExact\",\"state\":\"enabled\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "KH90Z0XMS1G665TC2KKC"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 192,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
