{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupKeywordsOperation/archiveBiddableKeyword/should archive a keyword polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "9bdbd95aa3bf887239ce2a26c2a02271",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/16577721726418"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 45,
            "text": "{\"code\":\"SUCCESS\",\"keywordId\":16577721726418}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "NESQ4NPRCEX839WGV4P9"
            },
            {
              "name": "x-amz-rid",
              "value": "NESQ4NPRCEX839WGV4P9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 50,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
