{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/getTargetingClause/should retrieve a targeting clause with a specific target ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "b0cbf5c163383dd5c36dde90df5a7ddc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/256247845256441"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 265,
            "text": "{\"targetId\":256247845256441,\"adGroupId\":202694745498469,\"campaignId\":164069484151709,\"expressionType\":\"manual\",\"state\":\"archived\",\"bid\":10.0,\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"resolvedExpression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "JPMHNEQTKE3R1CK7G3WN"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 46,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
