{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/createProductAds/should creates one or more product ads polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "736034a5bfac0a85114b22b111a551b5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":149522344269714,\"adGroupId\":149522344269714,\"state\":\"enabled\",\"sku\":\"AB-RED-8675309\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 74,
            "text": "[{\"code\":\"INVALID_ARGUMENT\",\"description\":\" Campaign ID cannot be found\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "7TWPXNTB7BBQC59F57EF"
            },
            {
              "name": "x-amz-rid",
              "value": "7TWPXNTB7BBQC59F57EF"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
