{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/createProductAds/should creates one or more product ads polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "f6841fbee276d0277a16bd121a59f18b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":164069484151709,\"adGroupId\":149522344269714,\"state\":\"enabled\",\"sku\":\"AB-RED-8675309\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": "[{\"code\":\"SUCCESS\",\"adId\":192944752071234}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "Y9MJ4RWTKZB3PFEWMR0K"
            },
            {
              "name": "x-amz-rid",
              "value": "Y9MJ4RWTKZB3PFEWMR0K"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 122,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
