{
  "log": {
    "_recordingName": "OAuthClient/refresh an existing token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "dc991f1c9b0e83e0724883b006d5f494",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "refresh_token=x&grant_type=refresh_token"
          },
          "queryString": [],
          "url": "https://api.amazon.com/auth/o2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1147,
            "text": {
              "access_token": "x",
              "expires_in": 3600,
              "refresh_token": "x",
              "token_type": "bearer"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1224,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
