{
  "log": {
    "_recordingName": "SponsoredProductsCampaignNegativeKeywordsOperation/createCampaignNegativeKeywords/should create a negative keyword for campaign polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "6104ef2fa008ff11b8d79cd7726c5750",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":164069484151709,\"keywordText\":\"banana\",\"matchType\":\"negativeExact\",\"state\":\"enabled\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaignNegativeKeywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 47,
            "text": "[{\"code\":\"SUCCESS\",\"keywordId\":38353327298089}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "6SH6YKGF8Q6726W70JVY"
            },
            {
              "name": "x-amz-rid",
              "value": "6SH6YKGF8Q6726W70JVY"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
