{
  "log": {
    "_recordingName": "SponsoredDisplayCampaignOperation/updateCampaigns/should update a campaign",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "9c9b5cc310e2164d82d998a354a1de6e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": [
              {
                "budget": 1,
                "campaignId": 169989740510339,
                "endDate": "20201212",
                "name": "new name",
                "startDate": "20201210",
                "state": "paused"
              }
            ]
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": [
              {
                "campaignId": 169989740510339,
                "code": "SUCCESS"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 129,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
