{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupOperation/archiveAdGroup/should archive the ad group",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "2dbecb126201dce99cffdc025bf4b75c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/138818764235694"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"code\":\"SUCCESS\",\"adGroupId\":138818764235694}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "TQP43P7CCVWZWS958QA9"
            },
            {
              "name": "x-amz-rid",
              "value": "TQP43P7CCVWZWS958QA9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 51,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
