{
  "log": {
    "_recordingName": "SponsoredProductsBidRecommendationOperation/createKeywordBidRecommendations/should retrieve keyword bid recommendation data for one or more keywords",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "e4cddd19f1018e3933b01807cc326760",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"adGroupId\":149522344269714,\"keywords\":[{\"keyword\":\"Apple1\",\"matchType\":\"broad\"},{\"keyword\":\"Apple2\",\"matchType\":\"exact\"},{\"keyword\":\"Apple3\",\"matchType\":\"phrase\"}]}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/bidRecommendations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 427,
            "text": {
              "adGroupId": 149522344269714,
              "recommendations": [
                {
                  "code": "SUCCESS",
                  "keyword": "Apple1",
                  "matchType": "broad",
                  "suggestedBid": {
                    "rangeEnd": 2.84,
                    "rangeStart": 0.22,
                    "suggested": 0.58
                  }
                },
                {
                  "code": "SUCCESS",
                  "keyword": "Apple2",
                  "matchType": "exact",
                  "suggestedBid": {
                    "rangeEnd": 3.97,
                    "rangeStart": 0.8,
                    "suggested": 3.79
                  }
                },
                {
                  "code": "SUCCESS",
                  "keyword": "Apple3",
                  "matchType": "phrase",
                  "suggestedBid": {
                    "rangeEnd": 2.08,
                    "rangeStart": 0.98,
                    "suggested": 1.05
                  }
                }
              ]
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "6WE7DATMVW3Z2VFFFM9H"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 80,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
