{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/getNegativeKeyword/should return a Negative Keyword",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "f1edcc314391d06a3f6f65f034e1ef0b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords/262433850080632"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 161,
            "text": "{\"keywordId\":262433850080632,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"green apple\",\"matchType\":\"negativeExact\",\"state\":\"archived\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "VTX2X2ZF4PPG3PDXPKKZ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
