{
  "log": {
    "_recordingName": "ProfileOperation/listProfiles/should return an array or profiles",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "c42f2255b582a829ce7e7e5cbb1b74ff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 864,
            "text": [
              {
                "accountInfo": {
                  "id": "AUZWHWR0590BC",
                  "marketplaceStringId": "ATVPDKIKX0DER",
                  "type": "seller"
                },
                "countryCode": "US",
                "currencyCode": "USD",
                "dailyBudget": 340,
                "profileId": 2984328618318898,
                "timezone": "America/Los_Angeles"
              },
              {
                "accountInfo": {
                  "id": "AUZWHWR0590BC",
                  "marketplaceStringId": "A2EUQ1WTGCTBG2",
                  "type": "seller"
                },
                "countryCode": "CA",
                "currencyCode": "CAD",
                "dailyBudget": 0,
                "profileId": 1350266456614264,
                "timezone": "America/Los_Angeles"
              },
              {
                "[...]
