{
  "log": {
    "_recordingName": "ProfileOperation/listProfiles/should return an array or profiles",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "c42f2255b582a829ce7e7e5cbb1b74ff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 864,
            "text": "[{\"profileId\":2984328618318898,\"countryCode\":\"US\",\"currencyCode\":\"USD\",\"dailyBudget\":340.0,\"timezone\":\"America/Los_Angeles\",\"accountInfo\":{\"marketplaceStringId\":\"ATVPDKIKX0DER\",\"id\":\"AUZWHWR0590BC\",\"type\":\"seller\"}},{\"profileId\":1350266456614264,\"countryCode\":\"CA\",\"currencyCode\":\"CAD\",\"dailyBudget\":0.0,\"timezone\":\"America/Los_Angeles\",\"accountInfo\":{\"marketplaceStringId\":\"A2EUQ1WTGCTBG2\",\"id\":\"AUZWHWR0590BC\",\"type\":\"seller\"}},{\"profileId\":4383529933717909,\"countryCode\":\"UK\",\"currencyCode\":\"GBP\",\"dailyBudget\":0.0,\"timezone\":\"Europe/London\",\"accountInfo\":{\"marketplaceStringId\":\"A1F83G8C2ARO7P\",\"id\":\"AUZWHWR0590BC\",\"type\":\"seller\"}},{\"profileId\":2973802954634317,\"countryCode\":\"US\",\"currencyCode\":\"USD\",\"timezone\":\"America/Los_Angeles\",\"accountInfo\":{\"marketplaceStringId\":\"ATVPDKIKX0DER\",\"id\":\"ENTITY_692466442578862883903374\",\"type\":\"vendor\",\"name\":\"yay\"}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "468RV7Z00MWR7R21RM8S"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 333,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
