{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupKeywordsOperation/listBiddableKeywordsExtended/should return an array of KeywordExtendeds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "c62d38563a967f4dde07bc71a08d108a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 504,
            "text": "[{\"keywordId\":239748696088896,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"Apple\",\"matchType\":\"broad\",\"state\":\"paused\",\"bid\":1.0,\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1577714928000,\"lastUpdatedDate\":1584021847000},{\"keywordId\":16577721726418,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"Apple\",\"matchType\":\"broad\",\"state\":\"archived\",\"bid\":1.0,\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1577633044000,\"lastUpdatedDate\":1577714923000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "AAYAJ7SR4791D3R2TNP8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
