{
  "log": {
    "_recordingName": "PortfolioOperation/createPortfolios/should create a portfolio without a budget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "aa616089ae74e3e7e198f70f2bf8ca5f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"name\":\"My Portfolio 1574180631864\",\"state\":\"enabled\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/portfolios"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": "[{\"code\":\"SUCCESS\",\"portfolioId\":24117126395087}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "CS5B80BZAYNVH123P0N7"
            },
            {
              "name": "x-amz-rid",
              "value": "CS5B80BZAYNVH123P0N7"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 159,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
