{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/createTargetingClauses/should create one or more targeting expressions",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "c82702044d7c459a84d82d68db4d930e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":164069484151709,\"adGroupId\":202694745498469,\"state\":\"paused\",\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"expressionType\":\"manual\",\"bid\":10}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 47,
            "text": "[{\"code\":\"SUCCESS\",\"targetId\":233870543676532}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "K46TV2J9F85PDHW621MM"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 97,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
