{
  "log": {
    "_recordingName": "SponsoredProductsCampaignNegativeKeywordsOperation/listCampaignNegativeKeywords/should return an array of campaign negative keywords polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "d56d152a080a58d9765f564965e067f2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaignNegativeKeywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 129,
            "text": "[{\"keywordId\":271800073719731,\"campaignId\":164069484151709,\"keywordText\":\"banana\",\"matchType\":\"negativeExact\",\"state\":\"enabled\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "DARAME16NT5RXAYPTSVV"
            },
            {
              "name": "x-amz-rid",
              "value": "DARAME16NT5RXAYPTSVV"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 42,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
