{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupOperation/listAdGroupsEx/should return an extended list of ad groups",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "9d368dd5e9503a1ce3bd68694d11583a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 632,
            "text": "[{\"adGroupId\":138818764235694,\"name\":\"New Name\",\"campaignId\":31299234922913,\"defaultBid\":1.0,\"state\":\"archived\",\"servingStatus\":\"PORTFOLIO_ENDED\",\"creationDate\":1550902562000,\"lastUpdatedDate\":1550904242000},{\"adGroupId\":109226894492069,\"name\":\"Foo Ad Group Broad\",\"campaignId\":31299234922913,\"defaultBid\":1.0,\"state\":\"paused\",\"servingStatus\":\"PORTFOLIO_ENDED\",\"creationDate\":1551148200000,\"lastUpdatedDate\":1551148200000},{\"adGroupId\":164621261612363,\"name\":\"Foo Ad Group\",\"campaignId\":31299234922913,\"defaultBid\":1.0,\"state\":\"paused\",\"servingStatus\":\"PORTFOLIO_ENDED\",\"creationDate\":1575909902000,\"lastUpdatedDate\":1575909902000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "4WJNTZJN49K02EJB4BPF"
            },
            {
              "name": "x-amz-rid",
              "value": "4WJNTZJN49K02EJB4BPF"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 68,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
