{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/createNegativeKeywords/should create a negative keyword polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "d56a483400fe86c9978500e1bba1c8e0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":164069484151709,\"adGroupId\":149522344269714,\"keywordText\":\"green apple\",\"matchType\":\"negativeExact\",\"state\":\"paused\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"code\":\"SUCCESS\",\"keywordId\":262433850080632}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "1J9NZQD50GDBTJ22SJHR"
            },
            {
              "name": "x-amz-rid",
              "value": "1J9NZQD50GDBTJ22SJHR"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 69,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
