{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/archiveCampaign/should set the campaign to archived state",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "0b84fd5b4e1b25ab387aa76a6ad18843",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/60376914769424"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 46,
            "text": "{\"code\":\"SUCCESS\",\"campaignId\":60376914769424}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "P3F0CQTNRS5SFSXAPJSR"
            },
            {
              "name": "x-amz-rid",
              "value": "P3F0CQTNRS5SFSXAPJSR"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160,
      },
      {
        "_id": "cb9fffbbccd98fec1a6c16480f04222f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/60376914769424"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 303,
            "text": "{\"campaignId\":60376914769424,\"name\":\"test campaign 2\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustment\":true,\"dailyBudget\":1.0,\"startDate\":\"20190301\",\"state\":\"archived\",\"bidding\":{\"strategy\":\"legacyForSales\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":50}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "WWEHK6RX6MX17NJR22EW"
            },
            {
              "name": "x-amz-rid",
              "value": "WWEHK6RX6MX17NJR22EW"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 50,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
