{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupOperation/getAdGroupEx/should get an extended ad group",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "50fb43f095908105c7379051baf8868d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/extended/138818764235694"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 206,
            "text": "{\"adGroupId\":138818764235694,\"name\":\"New Name\",\"campaignId\":31299234922913,\"defaultBid\":1.0,\"state\":\"archived\",\"servingStatus\":\"PORTFOLIO_ENDED\",\"creationDate\":1550902562000,\"lastUpdatedDate\":1550904242000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "E0K3GAW4VFPGNG83E300"
            },
            {
              "name": "x-amz-rid",
              "value": "E0K3GAW4VFPGNG83E300"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 64,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
