{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/createNegativeTargetingClauses/should create one or more negative targeting clauses at the campaign level polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "927781be398fd68be5989e7b2a0cfdec",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":164069484151709,\"adGroupId\":202694745498469,\"state\":\"paused\",\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"expressionType\":\"manual\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 47,
            "text": "[{\"code\":\"SUCCESS\",\"targetId\":160326773421036}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "127YNF04EKWQAWP5FF43"
            },
            {
              "name": "x-amz-rid",
              "value": "127YNF04EKWQAWP5FF43"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 161,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
