{
  "log": {
    "_recordingName": "SponsoredProductsSuggestedKeywordsOperation/getAsinSuggestedKeywords/should return suggested keywords for specified ASIN polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "2e127a1b408e1453113b5a7827741e25",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxNumSuggestions",
              "value": "100"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/asins/B07663Z46Z/suggested/keywords?maxNumSuggestions=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5993,
            "text": "[{\"keywordText\":\"keyword B07663Z46Z 1\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07663Z46Z 2\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07663Z46Z 3\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07663Z46Z 4\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07663Z46Z 5\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07663Z46Z 6\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07663Z46Z 7\",\"matchType\":\"broad\"},{\"keywordText\":\"keyword B07663Z46Z 8\",\"matchType\":\"broad\"},{\"keywordText\":\"k[...]
