{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/listNegativeTargetingClauses/should retrieve a list of negative targeting clauses satisfying optional criteria polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "ce64e558b5d957b930b01cb3f0070324",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "campaignIdFilter",
              "value": "164069484151709"
            },
            {
              "name": "adGroupIdFilter",
              "value": "202694745498469"
            },
            {
              "name": "targetIdFilter",
              "value": "160326773421036"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets?startIndex=0&count=1&campaignIdFilter=164069484151709&adGroupIdFilter=202694745498469&targetIdFilter=160326773421036"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "[{\"targetId\":160326773421036,\"adGroupId\":202694745498469,\"campaignId\":164069484151709,\"expressionType\":\"manual\",\"state\":\"paused\",\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"resolvedExpression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}]}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "C41EPAK8N1BEJ67CMZDA"
            },
            {
              "name": "x-amz-rid",
              "value": "C41EPAK8N1BEJ67CMZDA"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
