{
  "log": {
    "_recordingName": "PortfolioOperation/listPortfoliosEx/should return an array of extended portfolios",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "9e728cdf1999974a83f45b5621170257",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/portfolios/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1176,
            "text": "[{\"portfolioId\":251381412987495,\"name\":\"renamed portfolio\",\"budget\":{\"amount\":101.0,\"currencyCode\":\"USD\",\"policy\":\"dateRange\",\"startDate\":\"20190301\",\"endDate\":\"20190331\"},\"inBudget\":true,\"state\":\"enabled\",\"creationDate\":1549948077818,\"lastUpdatedDate\":1549948077818,\"servingStatus\":\"PORTFOLIO_ENDED\"},{\"portfolioId\":235596356388147,\"name\":\"boo\",\"inBudget\":true,\"state\":\"enabled\",\"creationDate\":1549945033851,\"lastUpdatedDate\":1549945033851,\"servingStatus\":\"PORTFOLIO_STATUS_ENABLED\"},{\"portfolioId\":178925744199604,\"name\":\"My Portfolio One\",\"inBudget\":true,\"state\":\"enabled\",\"creationDate\":1549946151877,\"lastUpdatedDate\":1549946151877,\"servingStatus\":\"PORTFOLIO_STATUS_ENABLED\"},{\"portfolioId\":77985496739778,\"name\":\"My Portfolio Three\",\"budget\":{\"amount\":100.0,\"currencyCode\":\"USD\",\"policy\":\"dateRange\",\"startDate\":\"20190301\",\"endDate\":\"20190331\"},\"inBudget\":true,\"state\":\"enabled\",\"creationDate\":1549948295168,\"lastUpdatedDate\":1549948295168,\"servingStatus\":\"PORTFOLIO_ENDED\"},{\"portfolioId\":24547400188651,\"name\":\"My Portfolio Four\",\"inBudget\":true,\"state\":\"enabled\",\"creationDate\":1549948488999,\"lastUpdatedDate\":1549948488999,\"servingStatus\":\"PORTFOLIO_STATUS_ENABLED\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "220D31DR0DJYWHHNE3JC"
            },
            {
              "name": "x-amz-rid",
              "value": "220D31DR0DJYWHHNE3JC"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
