{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/listCampaignsEx/should return a filtered list of results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "e2c01a9e506cf3f142ccc2b526fff3d6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "campaignIdFilter",
              "value": "31299234922913"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/extended?campaignIdFilter=31299234922913"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 461,
            "text": "[{\"campaignId\":31299234922913,\"name\":\"new name\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"auto\",\"premiumBidAdjustment\":true,\"dailyBudget\":7.0,\"startDate\":\"20290101\",\"state\":\"paused\",\"bidding\":{\"strategy\":\"manual\",\"adjustments\":[{\"predicate\":\"placementProductPage\",\"percentage\":2},{\"predicate\":\"placementTop\",\"percentage\":1}]},\"portfolioId\":77985496739778,\"servingStatus\":\"PORTFOLIO_ENDED\",\"creationDate\":1549944926000,\"lastUpdatedDate\":1576299187000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "5NZ2CTX6FY44ZQV43R5T"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 58,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
