{
  "log": {
    "_recordingName": "PortfolioOperation/getPortfolioEx/should return a single expanded portfolio",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "adf5d414ab2d560215045368a462e338",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/portfolios/extended/235596356388147"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 182,
            "text": "{\"portfolioId\":235596356388147,\"name\":\"boo\",\"inBudget\":true,\"state\":\"enabled\",\"creationDate\":1549945033851,\"lastUpdatedDate\":1549945033851,\"servingStatus\":\"PORTFOLIO_STATUS_ENABLED\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "74VKC1KTNQVC4CEDWEMC"
            },
            {
              "name": "x-amz-rid",
              "value": "74VKC1KTNQVC4CEDWEMC"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 34,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
