{
  "log": {
    "_recordingName": "SponsoredBrandsStoresInfoOperation/listStores/should retrieves a list of stores for a given advertiser",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "b5eb273de6ba33309294b6acb3975154",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/stores"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "[]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "E4T8GVH3D2DFMVDZEK7C"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 144,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
