{
  "log": {
    "_recordingName": "Polly Test",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "d8d56a2bb15f9b9991d297f9ffd4c54f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://httpstat.us/200"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 126,
            "text": "[\"1f8b0800000000000400edbd07601c499625262f6dca7b7f4af54ad7e074a10880601324d8904010ecc188cde692ec1d69472329ab2a81ca6556655d661640cced9dbcf7de7befbdf7de7befbdf7ba3b9d4e27f7dfff3f5c6664016cf6ce4adac99e2180aac81f3f7e7c1f3f22f67676d22f7fafff0710cad80706000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 818,
      },
      {
        "_id": "cee5f9eaa3086ff8c8769509d2e2c0ee",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"email\":\"eve.holt@reqres.in\",\"password\":\"pistol\"}"
          },
          "queryString": [],
          "url": "https://reqres.in/api/register"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 36,
            "text": {
              "id": 1,
              "token": "xxx"
            }
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"24-4iP0za1geN2he+ohu8F0FhCjLks\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 579,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
