{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupKeywordsOperation/createKeywords/should create a keyword",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "d61393707d21d9c8b36546f2487a85e9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":164069484151709,\"adGroupId\":149522344269714,\"keywordText\":\"Apple\",\"matchType\":\"broad\",\"state\":\"paused\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"code\":\"SUCCESS\",\"keywordId\":239748696088896}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "DB6PGZAB1EDWE60KSC4S"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 70,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
