{
  "log": {
    "_recordingName": "SponsoredDisplaySuggestedProductsOperation/listSuggestedProducts/should retrieve a list of products filtered by tactic and readiness status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "903ca9ff2c43b44ea1dcaa58ff1d0dfb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "tacticFilter",
              "value": "T00010"
            },
            {
              "name": "readinessFilter",
              "value": "MEDIUM"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sd/suggestedProducts?tacticFilter=T00010&readinessFilter=MEDIUM"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 99,
            "text": {
              "code": "400",
              "details": "Unrecognized readiness status: MEDIUM",
              "requestId": "X11EW8HEWCNHS1F5FJ5S"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 44,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
