{
  "log": {
    "_recordingName": "SponsoredDisplaySuggestedProductsOperation/listSuggestedProducts/should retrieve a list of products filtered by tactic and readiness status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "3c4e9cfe6bcde0415fbecc148a09795a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "tacticFilter",
              "value": "remarketing"
            },
            {
              "name": "readinessFilter",
              "value": "NOT_APPLICABLE"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sd/suggestedProducts?tacticFilter=remarketing&readinessFilter=NOT_APPLICABLE"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 107,
            "text": {
              "code": "400",
              "details": "Unrecognized readiness status: NOT_APPLICABLE",
              "requestId": "85WSXXCVHYSRBK5GQEYJ"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
