{
  "log": {
    "_recordingName": "SponsoredDisplaySuggestedProductsOperation/listSuggestedProducts/should retrieve a list of products filtered by tactic and readiness status",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "bb62a706131ae478bf3da85dd374b370",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "tacticFilter",
              "value": "remarketing"
            },
            {
              "name": "readinessFilter",
              "value": "HIGH"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sd/suggestedProducts?tacticFilter=remarketing&readinessFilter=HIGH"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": {
              "code": "400",
              "details": "Unrecognized readiness status: HIGH",
              "requestId": "9ZQZMNCNKN7J5BJ1S8N4"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 55,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
