{
  "log": {
    "_recordingName": "ProfileOperation/updateProfiles/should update the profile",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "2a7bb18ab7266393418d9373fcd7be61",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": [
              {
                "accountInfo": {
                  "id": "AUZWHWR0590BC",
                  "marketplaceStringId": "ATVPDKIKX0DER",
                  "subType": "AMAZON_ATTRIBUTION",
                  "type": "seller"
                },
                "dailyBudget": 340,
                "profileId": 2984328618318898
              }
            ]
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 49,
            "text": [
              {
                "code": "SUCCESS",
                "profileId": 2984328618318898
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "BM2WYV943M7QG7F5FRSC"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 132,
      },
      {
        "_id": "43f0b2e120dce04a39c7641757aa9be6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles/2984328618318898"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 214,
            "text": {
              "accountInfo": {
                "id": "AUZWHWR0590BC",
                "marketplaceStringId": "ATVPDKIKX0DER",
                "type": "seller"
              },
              "countryCode": "US",
              "currencyCode": "USD",
              "dailyBudget": 340,
              "profileId": 2984328618318898,
              "timezone": "America/Los_Angeles"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "EBTKZEGGC1BEZ7JF4GB5"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 67,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
