{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/listTargetingClauses/should retrieve a list of targeting clauses",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "7447fd3f687db37851acd2050dcc79a9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3274,
            "text": "[{\"targetId\":123796061299489,\"adGroupId\":138818764235694,\"campaignId\":31299234922913,\"expressionType\":\"auto\",\"state\":\"enabled\",\"expression\":[{\"type\":\"queryHighRelMatches\"}],\"resolvedExpression\":[{\"type\":\"queryHighRelMatches\"}]},{\"targetId\":17178955648565,\"adGroupId\":138818764235694,\"campaignId\":31299234922913,\"expressionType\":\"auto\",\"state\":\"enabled\",\"expression\":[{\"type\":\"queryBroadRelMatches\"}],\"resolvedExpression\":[{\"type\":\"queryBroadRelMatches\"}]},{\"targetId\":112156913036231,\"adGroupId\":138818764235694,\"campaignId\":31299234922913,\"expressionType\":\"auto\",\"state\":\"enabled\",\"expression\":[{\"type\":\"asinAccessoryRelated\"}],\"resolvedExpre[...]
