{
  "log": {
    "_recordingName": "PortfolioOperation/getPortfolio/should return a single portfolio",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "10b6e6acc0e997a31ca90f2275c3f2f0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/portfolios/235596356388147"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 78,
            "text": "{\"portfolioId\":235596356388147,\"name\":\"boo\",\"inBudget\":true,\"state\":\"enabled\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "K6P2DG9RMB1FJS84M37P"
            },
            {
              "name": "x-amz-rid",
              "value": "K6P2DG9RMB1FJS84M37P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
