{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/archiveNegativeTargetingClause/should archive negative targeting clauses polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "1aabebaf40c4d6e7f89f7f67509f8afa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets/160326773421036"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 45,
            "text": "{\"code\":\"SUCCESS\",\"targetId\":160326773421036}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "0KYGYA11754QFTJFAVT1"
            },
            {
              "name": "x-amz-rid",
              "value": "0KYGYA11754QFTJFAVT1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
