{
  "log": {
    "_recordingName": "SponsoredDisplayProductAdsOperation/getProductAd/should retrieve a product ad by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "f807c5f9eb64d843ec0da327da6ff85f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/productAds/264577793668550"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 119,
            "text": {
              "adGroupId": 164444192239500,
              "adId": 264577793668550,
              "asin": "B07663Z46Z",
              "campaignId": 169989740510339,
              "state": "enabled"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 5788,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
