{
  "log": {
    "_recordingName": "SponsoredProductsCampaignNegativeKeywordsOperation/getCampaignNegativeKeyword/should return a campaign negative keyword",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "baf7671ba8dff585efda979df11cddbf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaignNegativeKeywords/271800073719731"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 127,
            "text": "{\"keywordId\":271800073719731,\"campaignId\":164069484151709,\"keywordText\":\"banana\",\"matchType\":\"negativeExact\",\"state\":\"enabled\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "SDSD85XB2CPFZ3X25335"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
