{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupKeywordsOperation/getBiddableKeyword/should return a Keyword polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "1cb2f8e780f93d5a6d40339e0f9bdcc2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/16577721726418"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 144,
            "text": "{\"keywordId\":16577721726418,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"Apple\",\"matchType\":\"broad\",\"state\":\"paused\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "1100GG0153XCDDSEKQZK"
            },
            {
              "name": "x-amz-rid",
              "value": "1100GG0153XCDDSEKQZK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 45,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
