{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/updateNegativeTargetingClauses/should updates one or more negative targeting clauses",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "2c5f4fad8baeb4ba094fab5f193de622",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":164069484151709,\"adGroupId\":202694745498469,\"targetId\":160326773421036,\"state\":\"archived\",\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"expressionType\":\"manual\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 47,
            "text": "[{\"code\":\"SUCCESS\",\"targetId\":160326773421036}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "8WNZ2QD5M8AA6W5SFZR8"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 49,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
