{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/updateNegativeKeywords/should update a negative keyword",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "0203a690e57427a9b35764d7d99ae288",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"keywordId\":262433850080632,\"state\":\"archived\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"code\":\"SUCCESS\",\"keywordId\":262433850080632}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "G9DEV01GA27KDNP9ZDNX"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 51,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
