{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/listCampaignsEx/should return an array of expanded campaigns",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "efefc5accb1539dd95d4e926a3e2c037",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 6121,
            "text": "[{\"campaignId\":188971111858084,\"name\":\"test campaign 3\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustment\":true,\"dailyBudget\":1.0,\"startDate\":\"20190301\",\"state\":\"archived\",\"bidding\":{\"strategy\":\"legacyForSales\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":50}]},\"servingStatus\":\"CAMPAIGN_ARCHIVED\",\"creationDate\":1550067309000,\"lastUpdatedDate\":1550119120000},{\"campaignId\":60376914769424,\"name\":\"test campaign 2\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"manual\",\"premiumBidAdjustment\":true,\"dailyBudget\":1.0,\"startDate\":\"20190301\",\"state\":\"archived\",\"bidding\":{\"strategy\":\"legacyForSales\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":50}]},\"servingStatus\":\"CAMPAIGN_ARCHIVED\",\"creationDate\":1550066828000,\"lastUpdatedDate\":1550119195000},{\"campaignId\":110682930291375,\"na[...]
