{
  "log": {
    "_recordingName": "ProfileOperation/registerBrand/should return success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "073d3fe5a1a68bed85cb3a2c809e711b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"countryCode\":\"US\",\"brand\":\"yay\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles/registerBrand"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 87,
            "text": "{\"code\":\"SUCCESS\",\"description\":\"Brand yay is registered\",\"profileId\":2973802954634317}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "SW70WFRM4JJ1C2WHX12M"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
