{
  "log": {
    "_recordingName": "ProfileOperation/registerBrand/should return success",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "4505478e5af9882fca9d950f54ed06bb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"countryCode\":\"US\",\"brand\":\"yay\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles/registerBrand"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 87,
            "text": "{\"code\":\"SUCCESS\",\"description\":\"Brand yay is registered\",\"profileId\":2973802954634317}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "JKJ9T5AVSH5PY9SACVZN"
            },
            {
              "name": "x-amz-rid",
              "value": "JKJ9T5AVSH5PY9SACVZN"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
