{
  "log": {
    "_recordingName": "HttpClient/get/should throw a known error object when encountering an error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "43357c92bddb7781cb64ffc7275cb1a8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "-1"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/encountering-an-error"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 168
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amz-request-id",
              "value": "956MS4RMQPN2K28ZGKPM"
            },
            {
              "name": "x-amz-rid",
              "value": "956MS4RMQPN2K28ZGKPM"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 1073,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
