{
  "log": {
    "_recordingName": "SponsoredProductsSnapshotOperation/downloadSnapshot/should return a snapshot uncompressed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "077bc050d5dece7f27af8088d0a79362",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/snapshots/amzn1.clicksAPI.v1.p1.5E820B56.b56140e7-dae5-4188-b8d6-001bb9845843/download"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "location",
              "value": "https://amazon-advertising-api-snapshots-prod-usamazonsandbox.s3.amazonaws.com/atvpdkikx0der-auzwhwr0590bc-snapshot-keyword-912302e4-0c1c-47f1-bd70-68a9a6985b20.json.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200330T155134Z&X-Amz-SignedHeaders=host&X-Amz-Expires=30&X-Amz-Credential=AKIA3P6LC7ARPXWQ26ES%2F20200330%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=73442ce5de1be02bbe9a8538c7d0009b691936303eb422d4e95997b632abd801"
            },
            {
              "name": "x-amz-request-id",
              "value": "3C2T699HSAQ8V0Y0KWXX"
            }
          ],
          "status": 307,
          "statusText": "Temporary Redirect"
        },
        "time": 129,
      },
      {
        "_id": "5f373c368c87e2447176198ab8d2088a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "X-Amz-Algorithm",
              "value": "AWS4-HMAC-SHA256"
            },
            {
              "name": "X-Amz-Date",
              "value": "20200330T155134Z"
            },
            {
              "name": "X-Amz-SignedHeaders",
              "value": "host"
       [...]
