{
  "log": {
    "_recordingName": "SponsoredDisplayReportOperation/requestReport/should return a in progress status and metrics specific to remarketing tatic ad groups report",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "f4568fc56f0f14cd758ac0778df030ac",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "metrics": "campaignName,campaignId,impressions,clicks,cost,currency,attributedConversions1d,attributedConversions7d,attributedConversions14d,attributedConversions30d,attributedConversions1dSameSKU,attributedConversions7dSameSKU,attributedConversions14dSameSKU,attributedConversions30dSameSKU,attributedUnitsOrdered1d,attributedUnitsOrdered7d,attributedUnitsOrdered14d,attributedUnitsOrdered30d,attributedSales1d,attributedSales7d,attributedSales14d,attributedSales30d,attributedSales1dSameSKU,attributedSales7dSameSKU,attributedSales14dSameSKU,attributedSales30dSameSKU,adGroupName,adGroupId",
              "reportDate": "20200808",
              "tactic": "remarketing"
            }
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/adGroups/report"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 161,
            "text": {
              "recordType": "adGroups",
              "reportId": "amzn1.sdAPI.v1.m1.5F2FD61D.4fa83abc-e5ef-40fc-84d1-c4298786c708",
              "status": "IN_PROGRESS",
              "statusDetails": "Generating report"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 291,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
