{
  "log": {
    "_recordingName": "SponsoredBrandsSnapshotOperation/requestSnapshot/should return a snapshot report for all entities of a single record type with additional attributes satisfying optional criteria",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "492d6693dc5b39dee68fde5e27ddfb01",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"stateFilter\":\"archived\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/keywords/snapshot"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 130,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E82F8C3.05001365-ccc1-4511-98d4-964bef73d36e\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "H53Q0KKT96CZM3GZZSF0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 82,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
