{
  "log": {
    "_recordingName": "PortfolioOperation/updatePortfolios/should fail updating portfolio that does not exist",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "6910f158090feeb96dc95dada179c9d7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"portfolioId\":1,\"name\":\"renamed portfolio\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/portfolios"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 67,
            "text": "[{\"code\":\"NOT_FOUND\",\"description\":\"Cannot find entity with id 1\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "7VM2FWT4QSYS66DD212M"
            },
            {
              "name": "x-amz-rid",
              "value": "7VM2FWT4QSYS66DD212M"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
