{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/listNegativeTargetingClauses/should retrieve a list of negative targeting clauses polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "5d6441645e7e70f682b419cb714a8f40",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 254,
            "text": "[{\"targetId\":160326773421036,\"adGroupId\":202694745498469,\"campaignId\":164069484151709,\"expressionType\":\"manual\",\"state\":\"paused\",\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"resolvedExpression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}]}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "0TVZEFMMH6QWPN6B2B43"
            },
            {
              "name": "x-amz-rid",
              "value": "0TVZEFMMH6QWPN6B2B43"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 161,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
