{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/archiveTargetingClause/should set the status of targeting clauses to archived polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "8cfb401264a39b4114116191fc6cc40d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/256247845256441"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 45,
            "text": "{\"code\":\"SUCCESS\",\"targetId\":256247845256441}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "ZX6E0HSMC124PHC6EBD1"
            },
            {
              "name": "x-amz-rid",
              "value": "ZX6E0HSMC124PHC6EBD1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
