{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupKeywordsOperation/getBiddableKeywordExtended/should return a KeywordExtended",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "732f32fc496121ec54512b05672aa7dd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/extended/16577721726418"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 251,
            "text": "{\"keywordId\":16577721726418,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"Apple\",\"matchType\":\"broad\",\"state\":\"archived\",\"bid\":1.0,\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1577633044000,\"lastUpdatedDate\":1577714923000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "KSEJFN3WCPVSFWZ6PX9B"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
