{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/updateTargetingClauses/should updates one or more targeting clauses polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "0c05a3924901aa13f1e8c7f6cef72711",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":164069484151709,\"adGroupId\":202694745498469,\"state\":\"paused\",\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"expressionType\":\"manual\",\"bid\":10}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 47,
            "text": "[{\"code\":\"SUCCESS\",\"targetId\":256247845256441}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "KYB62CW2Q0GHA00DSFVE"
            },
            {
              "name": "x-amz-rid",
              "value": "KYB62CW2Q0GHA00DSFVE"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 156,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
