{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status with product ads report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "c8f95c8395d803ce00f5a07fc6b62e0c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,cost,impressions,sku,asin\",\"reportDate\":\"20191206\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 166,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5DEA7DD9.73fe6599-fee1-4a69-949f-ba882393afc7\",\"recordType\":\"productAd\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "0G601EXTPZ9F9PPCGGMB"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 79,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
