{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status with product ads report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "f0a9caf381598abbe6cc8530a98822ff",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,cost,impressions,sku,asin\",\"reportDate\":\"20191207\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 166,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5DEB727C.151e3209-f727-4471-b96a-d60f0bf0826b\",\"recordType\":\"productAd\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "TN2BHSHR0MPKZJB6F3JF"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 106,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
