{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/updateCampaigns/should update a campaign with manual bidding controls polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "d7f19f91110d9c251d9f093c53ff2406",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":31299234922913,\"portfolioId\":77985496739778,\"name\":\"new name\",\"state\":\"paused\",\"dailyBudget\":7,\"bidding\":{\"strategy\":\"manual\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":1},{\"predicate\":\"placementProductPage\",\"percentage\":2}]}}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"code\":\"SUCCESS\",\"campaignId\":31299234922913}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "N7QE4K3B0B417EZ5XMS0"
            },
            {
              "name": "x-amz-rid",
              "value": "N7QE4K3B0B417EZ5XMS0"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 46,
      },
      {
        "_id": "948c8a43f55368c38a114d834dbfca64",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/31299234922913"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 364,
            "text": "{\"campaignId\":31299234922913,\"name\":\"new name\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"auto\",\"premiumBidAdjustment\":true,\"dailyBudget\":7.0,\"startDate\":\"20290101\",\"state\":\"paused\",\"bidding\":{\"strategy\":\"manual\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":1},{\"predicate\":\"placementProductPage\",\"percentage\":2}]},\"portfolioId\":77985496739778}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "MNTVY800RXRAFFB04HDB"
            },
            {
              "name": "x-amz-rid",
              "value": "MNTVY800RXRAFFB04HDB"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
