{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/updateCampaigns/should update a campaign with manual bidding controls polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "c59bd74096f333f1943de7001264d218",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":31299234922913,\"portfolioId\":77985496739778,\"name\":\"new name\",\"state\":\"paused\",\"dailyBudget\":7,\"bidding\":{\"strategy\":\"manual\",\"adjustments\":[{\"predicate\":\"placementTop\",\"percentage\":1},{\"predicate\":\"placementProductPage\",\"percentage\":2}]}}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"code\":\"SUCCESS\",\"campaignId\":31299234922913}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "KBBGEHFW2G2D3D9859V7"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 904,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
