{
  "log": {
    "_recordingName": "SponsoredDisplayAdGroupOperation/listAdGroups/should return a list of ad groups",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "9becc79c1853d3cdff42a4c2eecd38a6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 136,
            "text": [
              {
                "adGroupId": 83691965128172,
                "campaignId": 169989740510339,
                "defaultBid": 1,
                "name": "test sd ad group 2020/08/17 21:00",
                "state": "paused"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "WWA9TREKAAKKSYM6ZSPA"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 56,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
