{
  "log": {
    "_recordingName": "HttpClient/get/should throw an exception base on http status when request return object without code ",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "2da808cdd3d89cb18c7128a19ffd1e4d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "-1"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/foobar"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 153,
            "text": {
              "details": "Request was rate-limited. Retry later."
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amz-request-id",
              "value": "3323JGVBWRRQMXR22A31"
            }
          ],
          "status": 429,
          "statusText": "OK"
        },
        "time": 1554,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
