{
  "log": {
    "_recordingName": "SponsoredDisplayAdGroupOperation/getAdGroup/should return a single adgroup",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "de74b2fea5702707403d09cbc16868f3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/83691965128172"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 134,
            "text": {
              "adGroupId": 83691965128172,
              "campaignId": 169989740510339,
              "defaultBid": 1,
              "name": "test sd ad group 2020/08/16 22:22",
              "state": "paused"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "825NKRNW7AH95CAD2HND"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 128,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
