{
  "log": {
    "_recordingName": "SponsoredDisplaySnapshotOperation/requestSnapshot/should return a snapshot report for all entities of a single record type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "674d3121b7aef4f85898b7bf34c04ecf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {}
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/sd/campaigns/snapshot"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": {
              "code": "500",
              "details": "Internal Server Error"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 500,
          "statusText": "Internal Server Error"
        },
        "time": 123,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
