{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status with asins report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "fdb412e82b2abb74b493b0f90e6e63de",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"campaignType\":\"sponsoredProducts\",\"metrics\":\"campaignId,campaignName,asin,keywordId,sku\",\"reportDate\":\"20200128\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/asins/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 166,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3003A6.bdd2e08f-5d94-4927-bb56-6d330faa21d0\",\"recordType\":\"otherAsin\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "YQZESPH5PYXQN98SHM4S"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 91,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
