{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status with asins report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "0a5e95d7a1cb77190a56197549e6540f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"campaignType\":\"sponsoredProducts\",\"metrics\":\"campaignId,campaignName,asin,keywordId,sku\",\"reportDate\":\"20200124\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/asins/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 166,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E2B1E68.251282f6-8710-43c7-9087-3dad0895bd24\",\"recordType\":\"otherAsin\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "BQ8XD9EWY5VZZ2T7XEHY"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 155,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
