{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status with asins report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "43e1322ca45f63045c852e24a2b1d414",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"campaignType\":\"sponsoredProducts\",\"metrics\":\"campaignId,campaignName,asin,keywordId,sku\",\"reportDate\":\"20191206\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/asins/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 166,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5DEA8B88.b7749e35-41a0-4da7-b2e1-3bc9839f7ed0\",\"recordType\":\"otherAsin\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "BTAPKFGJGRM2N039W952"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 196,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
