{
  "log": {
    "_recordingName": "SponsoredDisplayTargetingOperation/createTargetingClauses/should create one or more targeting expressions with similarProduct type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "60844d68ce6439736438cde6281cc7eb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": [
              {
                "adGroupId": 257081908560802,
                "bid": 10,
                "expression": [
                  {
                    "type": "asinSameAs",
                    "value": "B07663Z46Z"
                  }
                ],
                "expressionType": "manual",
                "state": "paused"
              }
            ]
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/targets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 80,
            "text": {
              "code": "403",
              "details": "HTTP 403 Forbidden",
              "requestId": "ZWK74DJDW8958F4RJQWW"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 161,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
