{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/getTargetingClauseExtended/should retrieve a targeting clause with additional attributes using a specific target ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "7cae9fab1c22e2b8f0cb8b0874367cb3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/extended/256247845256441"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 360,
            "text": "{\"targetId\":256247845256441,\"adGroupId\":202694745498469,\"campaignId\":164069484151709,\"expressionType\":\"manual\",\"state\":\"archived\",\"bid\":10.0,\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"resolvedExpression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1580204604000,\"lastUpdatedDate\":1580313084000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "J4A5Y1XZSFEHF4K4V98Q"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 66,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
