{
  "log": {
    "_recordingName": "SponsoredDisplaySuggestedProductsOperation/getProductReadiness/should retrieve the readiness status for a specified list",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "773266e8530d3e5aa15e04ba684775db",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "asins": [
                "B07663Z46Z",
                "B07H8QMZWV",
                "B07C65XFBB"
              ],
              "tactic": "remarketing"
            }
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/suggestedProducts/productReadinessStatus"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 172,
            "text": [
              {
                "asin": "B07C65XFBB",
                "readinessStatus": "NOT_APPLICABLE"
              },
              {
                "asin": "B07H8QMZWV",
                "readinessStatus": "NOT_APPLICABLE"
              },
              {
                "asin": "B07663Z46Z",
                "readinessStatus": "NOT_APPLICABLE"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 472,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
