{
  "log": {
    "_recordingName": "SponsoredProductsCampaignNegativeKeywordsOperation/getCampaignNegativeKeywordExtended/should return a campaign negative keyword extended",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "fdb080962b719ee6505711ecbd72c08d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaignNegativeKeywords/extended/271800073719731"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 222,
            "text": "{\"keywordId\":271800073719731,\"campaignId\":164069484151709,\"keywordText\":\"banana\",\"matchType\":\"negativeExact\",\"state\":\"enabled\",\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1578146686000,\"lastUpdatedDate\":1578146686000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "BR7JZA9V4G2FATP5JSKZ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 64,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
