{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/requestReport/should return a in progress status with adgroups report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "c24b2ac3d61a5d309871e42e05521bfe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,campaignName,adGroupId,adGroupName,cost,impressions\",\"reportDate\":\"20200109\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/adGroups/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E175D8D.12139ae6-cf0d-4940-8fc3-814cbb08e7e6\",\"recordType\":\"adGroup\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "Y0H71FWQ7V2RACJY941F"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 168,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
