{
  "log": {
    "_recordingName": "SponsoredDisplayAdGroupOperation/archiveAdGroup/should archive the ad group",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "d9e3fde4a6da2450c2e6eafce5bfb380",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/83691965128172"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 45,
            "text": {
              "adGroupId": 83691965128172,
              "code": "SUCCESS"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "82Z2QHCWVEGYY0555XN6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 137,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
