{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "e34b8d4b7495a9da8dcb2dd9b5363d96",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"attributedSales14d\",\"reportDate\":\"20200208\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 165,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3E6DC8.e3546944-637d-4a06-91ac-a4a85639ee34\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "T76FSPKSW4CEXXS7XPPP"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 165,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
