{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "7abb04a30cf2c768527940ff3c2a2973",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"attributedSales14d\",\"reportDate\":\"20200105\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 165,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E1155D9.0b3ae6f0-585a-4f94-8b59-1ea848c00494\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "2CRQRG9GHWWS24DT3Q5Z"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 101,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
