{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "cd3dfa1cd4735c2958a80721571a3846",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"attributedSales14d\",\"reportDate\":\"20200119\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 165,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E23D5CE.5b671826-1cdb-4860-9dc4-4f69238b7c11\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "9NR2EK51N78R7TAPRAE7"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 272,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
