{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/requestReport/should return a in progress status polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "681916d4f65859d1db435fdab76fdd95",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"attributedSales14d\",\"reportDate\":\"20200206\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 165,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E3C3A0A.83b7772e-1ffb-4b22-b430-77c567e73ee2\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "QVNQV1J2ZJWGZQPR0HWQ"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 77,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
