{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/requestReport/should return a in progress status polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "ada7db3dfd0cd41725a315db1c48932e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"attributedSales14d\",\"reportDate\":\"20191207\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 165,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5DEB727E.d73b3e5f-b40e-45ea-a446-017c28d51fbb\",\"recordType\":\"campaign\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "9DBMCYV3Z00HTPXJJAYE"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 68,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
