{
  "log": {
    "_recordingName": "SponsoredProductsSnapshotOperation/getSnapshot/should return a snapshot with a specific snapshot id polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "873398c1b4d74546d695b65d705ea53c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords/snapshot"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 130,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E457FEA.6e9937e6-643b-4443-a379-f319966747ef\",\"recordType\":\"keyword\",\"status\":\"IN_PROGRESS\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "Q91SV62GJJC8Y0AGF18P"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74,
      },
      {
        "_id": "047465bca6b9764232b3f6416b99e444",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/snapshots/amzn1.clicksAPI.v1.p1.5E457FEA.6e9937e6-643b-4443-a379-f319966747ef"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 321,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E457FEA.6e9937e6-643b-4443-a379-f319966747ef\",\"status\":\"SUCCESS\",\"statusDetails\":\"Snapshot has been successfully generated.\",\"location\":\"https://advertising-api-test.amazon.com/v1/snapshots/amzn1.clicksAPI.v1.p1.5E457FEA.6e9937e6-643b-4443-a379-f319966747ef/download\",\"fileSize\":148}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "6FGRSWCDFWPJVDRF0YBM"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 63,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
