{
  "log": {
    "_recordingName": "ProfileOperation/registerProfile/should work with default params",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "2660d6ffb79e53c71db5c641509400b3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"countryCode\":\"US\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles/register"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 98,
            "text": "{\"status\":\"SUCCESS\",\"statusDetails\":\"Merchant is already registered\",\"profileId\":2984328618318898}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "X03HMH95VW76AKWEVZJM"
            },
            {
              "name": "x-amz-rid",
              "value": "X03HMH95VW76AKWEVZJM"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 521,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
