{
  "log": {
    "_recordingName": "ProfileOperation/registerProfile/should work with default params",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "3d625e44a493156b1c1b19703f9d6300",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"countryCode\":\"US\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles/register"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 98,
            "text": "{\"status\":\"SUCCESS\",\"statusDetails\":\"Merchant is already registered\",\"profileId\":2984328618318898}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "REZTB2ZGBVFSZT3KSAA9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 58,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
