{
  "log": {
    "_recordingName": "SponsoredProductsCampaignOperation/listCampaignsEx/should return a filtered list of results polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "e2c01a9e506cf3f142ccc2b526fff3d6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "campaignIdFilter",
              "value": "31299234922913"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/campaigns/extended?campaignIdFilter=31299234922913"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 375,
            "text": "[{\"campaignId\":31299234922913,\"name\":\"new name\",\"campaignType\":\"sponsoredProducts\",\"targetingType\":\"auto\",\"premiumBidAdjustment\":false,\"dailyBudget\":7.0,\"startDate\":\"20290101\",\"state\":\"paused\",\"bidding\":{\"strategy\":\"legacyForSales\",\"adjustments\":[]},\"portfolioId\":77985496739778,\"servingStatus\":\"PORTFOLIO_ENDED\",\"creationDate\":1549944926000,\"lastUpdatedDate\":1550116509000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "K5CC5PXT3CR44WWWG2WD"
            },
            {
              "name": "x-amz-rid",
              "value": "K5CC5PXT3CR44WWWG2WD"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 72,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
