{
  "log": {
    "_recordingName": "HttpClient/get/should throw NullError when response body is null",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "4ae7ff6530e7eae10621b9b5a91d46dd",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "-1"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/null-body"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 121
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "58TSNQCDM43H40RJ3MRM"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1280,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
