{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/listProductAdsExtended/should retrieve a list of product ads  satisfying optional criteria polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "dfeb66e0d4c2a150947979554ff98889",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "campaignIdFilter",
              "value": "164069484151709"
            },
            {
              "name": "adGroupIdFilter",
              "value": "149522344269714"
            },
            {
              "name": "adIdFilter",
              "value": "192944752071234"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds/extended?startIndex=0&count=1&campaignIdFilter=164069484151709&adGroupIdFilter=149522344269714&adIdFilter=192944752071234"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 218,
            "text": "[{\"adId\":192944752071234,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"sku\":\"AB-RED-8675309\",\"state\":\"paused\",\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1579407292000,\"lastUpdatedDate\":1579423784000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "ES1DZ4BJS8A5AVHMH8JC"
            },
            {
              "name": "x-amz-rid",
              "value": "ES1DZ4BJS8A5AVHMH8JC"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 74,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
