{
  "log": {
    "_recordingName": "SponsoredProductsSnapshotOperation/requestSnapshot/should return a snapshot report for all entities of a single record type with additional attributes satisfying optional criteria",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "140e50c3cc33ee96e852276fe9d654e1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"stateFilter\":\"archived\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/snapshot"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 130,
            "text": "{\"snapshotId\":\"amzn1.clicksAPI.v1.p1.5E6C516A.9d38aca3-8b5f-423d-a756-6dd7491294e1\",\"recordType\":\"adGroup\",\"status\":\"IN_PROGRESS\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "R3S0XW464CC1HEY6WB6F"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 105,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
