{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupKeywordsOperation/updateKeywords/should update a keyword polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "8ffb01d1e1dabc6135d55aa3d3e47415",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"keywordId\":16577721726418,\"state\":\"paused\",\"bid\":1}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/keywords"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 47,
            "text": "[{\"code\":\"SUCCESS\",\"keywordId\":16577721726418}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "GQ6GQQBWPMJ99W5X7TTF"
            },
            {
              "name": "x-amz-rid",
              "value": "GQ6GQQBWPMJ99W5X7TTF"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 68,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
