{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status with asins report",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "7bebd41bd3d1dfb60a6fc03a63598e9a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"campaignType\":\"sponsoredProducts\",\"metrics\":\"campaignId,campaignName,asin,keywordId,sku\",\"reportDate\":\"20200314\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/asins/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 166,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E6C5045.660a3fe8-7b99-4906-ab15-802378debf6c\",\"recordType\":\"otherAsin\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 131,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
