{
  "log": {
    "_recordingName": "SponsoredProductsSuggestedKeywordsOperation/getAsinSuggestedKeywords/should return suggested keywords for specified ASIN, max suggestion keyword",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "073b6b81853bfa9f7d8aa7e9bb790ac2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxNumSuggestions",
              "value": "1"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/asins/B07663Z46Z/suggested/keywords?maxNumSuggestions=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 60,
            "text": "[{\"keywordText\":\"keyword B07663Z46Z 1\",\"matchType\":\"broad\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "56W1VFMSD9J1Q1RF89R6"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 34,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
