{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/getRefinementsForCategory/should return refinements for a single category",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "f3b16ad13e1391446875e79234dd2f21",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "categoryId",
              "value": "2335752011"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/categories/refinements?categoryId=2335752011"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 122,
            "text": "{\"categoryId\":2335752011,\"brands\":[{\"id\":19831372011,\"name\":\"SanDisk\"},{\"id\":2530342011,\"name\":\"Samsung\"}],\"ageRanges\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "5F1XQHK70WQWMQM0JGK1"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 513,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
