{
  "log": {
    "_recordingName": "SponsoredDisplayReportOperation/requestReport/should return a in progress status and metrics specific to T00001 tatic campaigns report",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "0f8dfd86f81d6f615c2b9e062ad017b3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "metrics": "campaignName,campaignId,campaignStatus,impressions,clicks,cost,currency,attributedDPV14d,attributedUnitsSold14d",
              "reportDate": "20200808",
              "tactic": "T00001"
            }
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 162,
            "text": {
              "recordType": "campaigns",
              "reportId": "amzn1.sdAPI.v1.m1.5F2FD61D.baeb40e0-d5a0-46e8-acd8-7bac6ea7e2c0",
              "status": "IN_PROGRESS",
              "statusDetails": "Generating report"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 271,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
