{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/getProductAdExtended/should retrieve a product ad and its extended fields by ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "fd885df9c84530b6d8d760d1de4342a5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds/extended/192944752071234"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 218,
            "text": "{\"adId\":192944752071234,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"sku\":\"AB-RED-8675309\",\"state\":\"archived\",\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1579407292000,\"lastUpdatedDate\":1579441885000}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "PH7A6YAE2AKEN8HS65TH"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
