{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupOperation/updateAdGroups/should update an ad group",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "1b5d481771ce9fedfefd6eac7f7e7bb0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"adGroupId\":164621261612363,\"name\":\"New Name\",\"state\":\"enabled\",\"defaultBid\":1}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"code\":\"SUCCESS\",\"adGroupId\":164621261612363}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "8E08G5W4NJD2PQY5VBTH"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 1102,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
