{
  "log": {
    "_recordingName": "SponsoredDisplayReportOperation/downloadReport/should return the report uncompressed",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "0f8dfd86f81d6f615c2b9e062ad017b3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "metrics": "campaignName,campaignId,campaignStatus,impressions,clicks,cost,currency",
              "reportDate": "20200808",
              "tactic": "T00001"
            }
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 162,
            "text": {
              "recordType": "campaigns",
              "reportId": "amzn1.sdAPI.v1.m1.5F34054D.0d7f4db7-f49c-4be9-adb1-f742fa12f72d",
              "status": "IN_PROGRESS",
              "statusDetails": "Generating report"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 216,
      },
      {
        "_id": "4e58493e62a75e4f85be8e3bcec1479b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bid[...]
