{
  "log": {
    "_recordingName": "PortfolioOperation/createPortfolios/should create a portfolio with a budget",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "b6ec7763b167a6e993b0b0d2d2a438d7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"name\":\"My Portfolio 1574180632035\",\"budget\":{\"amount\":100,\"policy\":\"dateRange\",\"startDate\":\"20191119\",\"endDate\":\"20191119\"},\"state\":\"enabled\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/portfolios"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 50,
            "text": "[{\"code\":\"SUCCESS\",\"portfolioId\":198013392719379}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "Q3DW0Z1NN7MXQNGQT11Z"
            },
            {
              "name": "x-amz-rid",
              "value": "Q3DW0Z1NN7MXQNGQT11Z"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 60,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
