{
  "log": {
    "_recordingName": "SponsoredDisplayProductAdsOperation/createProductAds/should creates one or more product ads",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "f0b24d7e1073bbabee358175c2f48c38",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": [
              {
                "adGroupId": 164444192239500,
                "campaignId": 169989740510339,
                "sku": "AB-RED-8675309",
                "state": "enabled"
              }
            ]
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/productAds"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 98,
            "text": [
              {
                "code": "INVALID_ARGUMENT",
                "description": "Vendor ad did not specify asin for create operation."
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 102,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
