{
  "log": {
    "_recordingName": "SponsoredDisplayCampaignOperation/listCampaignsExtended/should return a filtered list of extended campaigns",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "c14ccdae0877e732aedd96e4ea655d67",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "campaignIdFilter",
              "value": "169989740510339,108235017529238"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sd/campaigns/extended?campaignIdFilter=169989740510339%2C108235017529238"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 676,
            "text": [
              {
                "budget": 1,
                "budgetType": "daily",
                "campaignId": 169989740510339,
                "costType": "cpc",
                "creationDate": 1597331635000,
                "deliveryProfile": "as_soon_as_possible",
                "lastUpdatedDate": 1597331635000,
                "name": "test sd campaign 2020/08/13 21:42",
                "servingStatus": "PENDING_START_DATE",
                "startDate": "20201210",
                "state": "enabled",
                "tactic": "remarketing"
              },
              {
                "budget": 1,
                "budgetType": "daily",
                "campaignId": 108235017529238,
                "costType": "cpc",
                "creationDate": 1597331213000,
                "deliveryProfile": "as_soon_as_possible",
                "endDate": "20201211",
                "lastUpdatedDate": 1597331213000,
                "name": "test sd campaign 2020/08/13 21:43",
                "servingStatus": "PENDING_START_DATE",
                "startDate": "20201210",
                "state": "enabled",
                "tactic": "remarketing"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 81,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
