{
  "log": {
    "_recordingName": "SponsoredProductsBidRecommendationOperation/getAdGroupBidRecommendations/should retrieve bid recommendation data for the specified adGroup id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "6e42980b7fa6ffe4dd9ff66cc969bd30",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/164621261612363/bidRecommendations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": {
              "adGroupId": 164621261612363,
              "suggestedBid": {
                "rangeEnd": 2.11,
                "rangeStart": 0.82,
                "suggested": 0.96
              }
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "RAKZT6ZBTXDPJS7HS6TQ"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 197,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
