{
  "log": {
    "_recordingName": "SponsoredProductsBidRecommendationOperation/getAdGroupBidRecommendations/should retrieve bid recommendation data for the specified adGroup id",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "af3a77b6232e7ffb3f78e15850a1e5c3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"campaignId\":31299234922913,\"adGroupId\":164621261612363,\"state\":\"enabled\",\"sku\":\"AB-RED-8675309\"}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": [
              {
                "adId": 192261097038351,
                "code": "SUCCESS"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "7RJ53N75ERP7YVM6RT4A"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 197,
      },
      {
        "_id": "6e42980b7fa6ffe4dd9ff66cc969bd30",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/164621261612363/bidRecommendations"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 96,
            "text": {
              "adGroupId": 164621261612363,
              "suggestedBid": {
                "rangeEnd": 2.7,
                "rangeStart": 0.36,
                "suggested": 1.71
              }
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "VJ3Y16YFET3PH83J9A9V"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 121,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
