{
  "log": {
    "_recordingName": "SponsoredDisplayAdGroupOperation/listAdGroupsExtended/should accept params",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "aced96a2f7de3ed8ea6c063e81c3a8bb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "adGroupIdFilter",
              "value": "83691965128172"
            },
            {
              "name": "campaignIdFilter",
              "value": "169989740510339"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "stateFilter",
              "value": "paused"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/extended?adGroupIdFilter=83691965128172&campaignIdFilter=169989740510339&count=1&stateFilter=paused"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 231,
            "text": [
              {
                "adGroupId": 83691965128172,
                "campaignId": 169989740510339,
                "creationDate": 1597591883000,
                "defaultBid": 1,
                "lastUpdatedDate": 1597674279000,
                "name": "test sd ad group 2020/08/17 21:00",
                "servingStatus": "CAMPAIGN_PAUSED",
                "state": "paused"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "SX6YK4QSV5MYPYK0QAAA"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 63,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
