{
  "log": {
    "_recordingName": "SponsoredDisplayReportOperation/getReport/only return report location when report status is SUCCESS",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "0f8dfd86f81d6f615c2b9e062ad017b3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "metrics": "campaignName,campaignId,campaignStatus,impressions,clicks,cost,currency",
              "reportDate": "20200808",
              "tactic": "T00001"
            }
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/campaigns/report"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 162,
            "text": {
              "recordType": "campaigns",
              "reportId": "amzn1.sdAPI.v1.m1.5F34054D.6dcb81d4-4c5e-4d6b-b5a8-0b3fb8a8d849",
              "status": "IN_PROGRESS",
              "statusDetails": "Generating report"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 289,
      },
      {
        "_id": "298dfcf95422b4123a309c5176683abe",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/reports/amzn1.sdAPI.v1.m1.5F34054D.6dcb81d4-4c5e-4d6b-b5a8-0b3fb8a8d849"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 297,
            "text": {
              "fileSize": 612,
              "location": "https://advertising-api-test.amazon.com/v1/reports/amzn1.sdAPI.v1.m1.5F34054D.6dcb81d4-4c5e-4d6b-b5a8-0b3fb8a8d849/download",
              "reportId": "amzn1.sdAPI.v1.m1.5F34054D.6dcb81d4-4c5e-4d6b-b5a8-0b3fb8a8d849",
              "status": "SUCCESS",
              "statusDetails": "Report successfully generated"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "Y8NC48JP5PVXN6F6FM3V"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 156,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
