{
  "log": {
    "_recordingName": "SponsoredBrandsReportOperation/requestReport/should return a in progress status with creative type is video",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.0"
    },
    "entries": [
      {
        "_id": "d58277f0c4d05f9d78e1b94b30f492ee",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": {
              "creativeType": "video",
              "metrics": "campaignName,campaignId,campaignStatus",
              "reportDate": "20210201"
            }
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/adGroups/report"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 77,
            "text": {
              "code": "422",
              "details": "Improper usage.",
              "requestId": "JZWW8G6TT31N4RVF19TR"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "JZWW8G6TT31N4RVF19TR"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 87,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
