{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/listProductAds/should retrieve a list of product ads polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "a58d52f0cb618471cea3c054b842ade6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 233,
            "text": "[{\"adId\":2912157523831,\"adGroupId\":109226894492069,\"campaignId\":31299234922913,\"sku\":\"ABC\",\"state\":\"archived\"},{\"adId\":192944752071234,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"sku\":\"AB-RED-8675309\",\"state\":\"paused\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "VXHE4NEQD169BXN2ZQTB"
            },
            {
              "name": "x-amz-rid",
              "value": "VXHE4NEQD169BXN2ZQTB"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 59,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
