{
  "log": {
    "_recordingName": "SponsoredDisplayAdGroupOperation/createAdGroups/should create an ad group",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "613d5cf6d341466d8867dd9006a2a244",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": [
              {
                "campaignId": 169989740510339,
                "defaultBid": 1,
                "name": "test sd ad group 2020/08/16 22:22",
                "state": "paused"
              }
            ]
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": [
              {
                "adGroupId": 257081908560802,
                "code": "SUCCESS"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "R6KGFJ3BW61GJ0MS5HKX"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 156,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
