{
  "log": {
    "_recordingName": "SponsoredProductsSuggestedKeywordsOperation/getAdGroupSuggestedKeywords/should return suggested keyword data for the specified adGroupId, adStateFilter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "93e87c957593098b5613941b0d218d84",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxNumSuggestions",
              "value": "1"
            },
            {
              "_fromType": "array",
              "name": "adStateFilter",
              "value": "enabled"
            },
            {
              "_fromType": "array",
              "name": "adStateFilter",
              "value": "paused"
            },
            {
              "_fromType": "array",
              "name": "adStateFilter",
              "value": "archived"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/149522344269714/suggested/keywords?maxNumSuggestions=1&adStateFilter=enabled&adStateFilter=paused&adStateFilter=archived"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 114,
            "text": {
              "adGroupId": 149522344269714,
              "suggestedKeywords": [
                {
                  "keywordText": "keyword AB-RED-8675309 1",
                  "matchType": "broad"
                }
              ]
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "EM2MZ899EK7AT0ZRB2NV"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 218,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
