{
  "log": {
    "_recordingName": "ProfileOperation/getProfile/should return a profile object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "43f0b2e120dce04a39c7641757aa9be6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/profiles/2984328618318898"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 214,
            "text": {
              "accountInfo": {
                "id": "AUZWHWR0590BC",
                "marketplaceStringId": "ATVPDKIKX0DER",
                "type": "seller"
              },
              "countryCode": "US",
              "currencyCode": "USD",
              "dailyBudget": 340,
              "profileId": 2984328618318898,
              "timezone": "America/Los_Angeles"
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "ZW7SJWA2MKSTVDVR6FXD"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 52,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
