{
  "log": {
    "_recordingName": "SponsoredDisplayCampaignOperation/listCampaigns/should return an array of campaigns",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "a3ba9bf6e37069d6f922e0d088c7fe8f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2973802954634317"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sd/campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 729,
            "text": [
              {
                "budget": 1,
                "budgetType": "daily",
                "campaignId": 169989740510339,
                "costType": "cpc",
                "deliveryProfile": "as_soon_as_possible",
                "name": "test sd campaign 2020/08/13 21:42",
                "startDate": "20201210",
                "state": "enabled",
                "tactic": "remarketing"
              },
              {
                "budget": 1,
                "budgetType": "daily",
                "campaignId": 108235017529238,
                "costType": "cpc",
                "deliveryProfile": "as_soon_as_possible",
                "endDate": "20201211",
                "name": "test sd campaign 2020/08/13 21:43",
                "startDate": "20201210",
                "state": "enabled",
                "tactic": "remarketing"
              },
              {
                "budget": 1,
                "budgetType": "daily",
                "campaignId": 11359274533135,
                "costType": "cpc",
                "deliveryProfile": "as_soon_as_possible",
                "endDate": "20201211",
                "name": "test sd campaign 2020/08/13 21:41",
                "startDate": "20201210",
                "state": "enabled",
                "tactic": "remarketing"
              }
            ]
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 192,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
