{
  "log": {
    "_recordingName": "SponsoredProductsNegativeTargetingOperation/getNegativeTargetingClauseExtended/should retrieve a negative targeting clause with additional attributes using a specific target ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "3bd711a0e93d66497bd53508a50fc9f5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeTargets/extended/160145133562783"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 347,
            "text": {
              "adGroupId": 202694745498469,
              "campaignId": 164069484151709,
              "creationDate": 1584024717000,
              "expression": [
                {
                  "type": "asinSameAs",
                  "value": "B07663Z46Z"
                }
              ],
              "expressionType": "manual",
              "lastUpdatedDate": 1598690079000,
              "resolvedExpression": [
                {
                  "type": "asinSameAs",
                  "value": "B07663Z46Z"
                }
              ],
              "servingStatus": "CAMPAIGN_PAUSED",
              "state": "paused",
              "targetId": 160145133562783
            }
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "PY1YMYPDR55ENF07Z61M"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 82,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
