{
  "log": {
    "_recordingName": "PortfolioOperation/listPortfolios/should return an array of portfolios",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "5b7c77ad1252905413af96b617c9ad68",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/portfolios"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 674,
            "text": "[{\"portfolioId\":235596356388147,\"name\":\"boo\",\"inBudget\":true,\"state\":\"enabled\"},{\"portfolioId\":251381412987495,\"name\":\"renamed portfolio\",\"budget\":{\"amount\":101.0,\"currencyCode\":\"USD\",\"policy\":\"dateRange\",\"startDate\":\"20190301\",\"endDate\":\"20190331\"},\"inBudget\":true,\"state\":\"enabled\"},{\"portfolioId\":178925744199604,\"name\":\"My Portfolio One\",\"inBudget\":true,\"state\":\"enabled\"},{\"portfolioId\":24547400188651,\"name\":\"My Portfolio Four\",\"inBudget\":true,\"state\":\"enabled\"},{\"portfolioId\":77985496739778,\"name\":\"My Portfolio Three\",\"budget\":{\"amount\":100.0,\"currencyCode\":\"USD\",\"policy\":\"dateRange\",\"startDate\":\"20190301\",\"endDate\":\"20190331\"},\"inBudget\":true,\"state\":\"enabled\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "37F44ZEJ6TC63M3GS5YG"
            },
            {
              "name": "x-amz-rid",
              "value": "37F44ZEJ6TC63M3GS5YG"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
