{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupNegativeKeywordsOperation/listNegativeKeywordsExtended/should return an array of Negative Keyword Extendeds when filter additional properties polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "ecd96fbb0274cc10e9ead2fd8cd72149",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "matchTypeFilter",
              "value": "negativeExact"
            },
            {
              "name": "keywordText",
              "value": "green apple"
            },
            {
              "name": "campaignIdFilter",
              "value": "164069484151709"
            },
            {
              "name": "adGroupIdFilter",
              "value": "149522344269714"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/negativeKeywords/extended?startIndex=0&count=1&matchTypeFilter=negativeExact&keywordText=green%20apple&campaignIdFilter=164069484151709&adGroupIdFilter=149522344269714"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 256,
            "text": "[{\"keywordId\":262433850080632,\"adGroupId\":149522344269714,\"campaignId\":164069484151709,\"keywordText\":\"green apple\",\"matchType\":\"negativeExact\",\"state\":\"paused\",\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1578052929000,\"lastUpdatedDate\":1578052933000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "B9SBKEY5S7G4HFDE57FA"
            },
            {
              "name": "x-amz-rid",
              "value": "B9SBKEY5S7G4HFDE57FA"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 57,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
