{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status with adgroups report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "1a31e91dc6f5474c15af09cce0a0c011",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,campaignName,adGroupId,adGroupName,cost,impressions\",\"reportDate\":\"20200204\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5E399342.dce56a11-4040-44b6-8d9a-db459f081755\",\"recordType\":\"adGroup\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "GBXAD14FYQCT4T45GV6P"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 130,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
