{
  "log": {
    "_recordingName": "SponsoredProductsProductAdsOperation/listProductAdsExtended/should retrieve a list of product ads ",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "23b3cd7822666771e36ccaaac468af35",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/productAds/extended"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 964,
            "text": [
              {
                "adGroupId": 109226894492069,
                "adId": 2912157523831,
                "campaignId": 31299234922913,
                "creationDate": 1551148342000,
                "lastUpdatedDate": 1551148939000,
                "servingStatus": "PORTFOLIO_ENDED",
                "servingStatusDetails": [],
                "sku": "ABC",
                "state": "archived"
              },
              {
                "adGroupId": 149522344269714,
                "adId": 192944752071234,
                "campaignId": 164069484151709,
                "creationDate": 1579407292000,
                "lastUpdatedDate": 1579441885000,
                "servingStatus": "CAMPAIGN_PAUSED",
                "servingStatusDetails": [],
                "sku": "AB-RED-8675309",
                "state": "archived"
              },
              {
                "a[...]
