{
  "log": {
    "_recordingName": "SponsoredBrandsCampaignOperation/listCampaigns/should return an array of campaigns",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "9b47adf0b9b33fb082dba8a0d1ecb7e4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/hsa/campaigns"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2,
            "text": "[]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "M0D05ZAHWMSB2K4PEZEK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 34,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
