{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupOperation/getAdGroup/should return a single adgroup polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "30ae67743633e56e09fea58e816e2983",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups/138818764235694"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 111,
            "text": "{\"adGroupId\":138818764235694,\"name\":\"New Name\",\"campaignId\":31299234922913,\"defaultBid\":1.0,\"state\":\"archived\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "Y48NHMMP5S1DJ730ECR3"
            },
            {
              "name": "x-amz-rid",
              "value": "Y48NHMMP5S1DJ730ECR3"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 140,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
