{
  "log": {
    "_recordingName": "SponsoredProductsReportOperation/requestReport/should return a in progress status with targets report polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "b216d82b5d14c543be593e92b3d0c874",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"metrics\":\"campaignId,targetId,cost,impressions\",\"reportDate\":\"20191207\"}"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/report"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 164,
            "text": "{\"reportId\":\"amzn1.clicksAPI.v1.m1.5DEB727C.039c654d-cd42-4083-bb30-8fb45dcce97a\",\"recordType\":\"targets\",\"status\":\"IN_PROGRESS\",\"statusDetails\":\"Generating report\"}"
          },
          "headers": [
            {
              "name": "x-amz-rid",
              "value": "0DE6F79DK958WTDR8SWR"
            }
          ],
          "status": 202,
          "statusText": "Accepted"
        },
        "time": 118,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
