{
  "log": {
    "_recordingName": "HttpClient/get/should throw a ResourceNotFoundError when resource is not found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "2da808cdd3d89cb18c7128a19ffd1e4d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "-1"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/foobar"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 118,
            "text": "{\"code\":\"NOT_FOUND\",\"details\":\"Could not find resource for full path: https://advertising-api-test.amazon.com/foobar\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amz-rid",
              "value": "QSE24QBK9VRR4DAQ9GAF"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 1027,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
