{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupOperation/createAdGroups/should create an ad group",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "a2f8c714f5e5fd75a351450fa7c7daaf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[{\"name\":\"Foo Ad Group\",\"state\":\"paused\",\"defaultBid\":1,\"campaignId\":31299234922913}]"
          },
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 48,
            "text": "[{\"code\":\"SUCCESS\",\"adGroupId\":164621261612363}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "26AHJ3E3ZQYDJ18B4690"
            },
            {
              "name": "x-amz-rid",
              "value": "26AHJ3E3ZQYDJ18B4690"
            }
          ],
          "status": 207,
          "statusText": "Multi-Status"
        },
        "time": 50,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
