{
  "log": {
    "_recordingName": "SponsoredProductsProductTargetingOperation/listTargetingClausesExtended/should retrieve a list of targeting clauses with additional attributes satisfying optional criteria polly:passthrough",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "9650219a77de9cc97c07e2a65ff2e64c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "count",
              "value": "1"
            },
            {
              "name": "campaignIdFilter",
              "value": "164069484151709"
            },
            {
              "name": "adGroupIdFilter",
              "value": "202694745498469"
            },
            {
              "name": "targetIdFilter",
              "value": "256247845256441"
            }
          ],
          "url": "https://advertising-api-test.amazon.com/v2/sp/targets/extended?startIndex=0&count=1&campaignIdFilter=164069484151709&adGroupIdFilter=202694745498469&targetIdFilter=256247845256441"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 360,
            "text": "[{\"targetId\":256247845256441,\"adGroupId\":202694745498469,\"campaignId\":164069484151709,\"expressionType\":\"manual\",\"state\":\"paused\",\"bid\":10.0,\"expression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"resolvedExpression\":[{\"type\":\"asinSameAs\",\"value\":\"B07663Z46Z\"}],\"servingStatus\":\"CAMPAIGN_PAUSED\",\"creationDate\":1580204604000,\"lastUpdatedDate\":1580205061000}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "17PA6FY3RS3P1VQX4XQP"
            },
            {
              "name": "x-amz-rid",
              "value": "17PA6FY3RS3P1VQX4XQP"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 65,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
