{
  "log": {
    "_recordingName": "SponsoredProductsAdGroupOperation/listAdGroups/should return a list of ad groups",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.3"
    },
    "entries": [
      {
        "_id": "9becc79c1853d3cdff42a4c2eecd38a6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "amazon-advertising-api-scope",
              "value": "2984328618318898"
            },
            {
              "_fromType": "array",
              "name": "bidding_controls_on",
              "value": "true"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://advertising-api-test.amazon.com/v2/sp/adGroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 347,
            "text": "[{\"adGroupId\":138818764235694,\"name\":\"New Name\",\"campaignId\":31299234922913,\"defaultBid\":1.0,\"state\":\"archived\"},{\"adGroupId\":109226894492069,\"name\":\"Foo Ad Group Broad\",\"campaignId\":31299234922913,\"defaultBid\":1.0,\"state\":\"paused\"},{\"adGroupId\":164621261612363,\"name\":\"Foo Ad Group\",\"campaignId\":31299234922913,\"defaultBid\":1.0,\"state\":\"paused\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amz-request-id",
              "value": "P40SNRS1758PM9TR4Y1D"
            },
            {
              "name": "x-amz-rid",
              "value": "P40SNRS1758PM9TR4Y1D"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 47,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
